In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
data = pd.read_csv('raw_depression_dataset.csv')
data.head(10)

/tmp/ipykernel_2310/2534145879.py:1: DtypeWarning: Columns (7,8,9,10,11,17) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('raw_depression_dataset.csv')

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0
5,5,Vani,Female,59.0,Ahmedabad,Working Professional,Finanancial Analyst,NaN,2.0,NaN,NaN,5.0,5-6 hours,Healthy,MCA,No,7.0,5.0,No,0
6,6,Ritvik,Male,47.0,Thane,Working Professional,Chemist,NaN,5.0,NaN,NaN,2.0,7-8 hours,Moderate,MD,No,6.0,2.0,No,0
7,7,Rajveer,Male,38.0,Nashik,Working Professional,Teacher,NaN,3.0,NaN,NaN,4.0,7-8 hours,Unhealthy,B.Pharm,No,10.0,3.0,Yes,0
8,8,Aishwarya,Female,24.0,Bangalore,Student,NaN,2.0,NaN,5.9,5.0,NaN,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
9,9,Simran,Female,42.0,Patna,Working Professional,Electrician,NaN,4.0,NaN,NaN,1.0,5-6 hours,Healthy,ME,Yes,7.0,2.0,Yes,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170700 entries, 0 to 170699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     170700 non-null  int64
 1   Name                                   170700 non-null  object
 2   Gender                                 169976 non-null  object
 3   Age                                    170700 non-null  float64
 4   City                                   169942 non-null  object
 5   Working Professional or Student        170700 non-null  object
 6   Profession                             125632 non-null  object
 7   Academic Pressure                      34099 non-null   object
 8   Work Pressure                          136207 non-null  object
 9   CGPA                                   35308 non-null   object
 10  Study Satisfaction                     34090 non-null   object
 11  Job Satisfaction                       136789 non-null  object
 12  Sleep Duration                         169950 non-null  object
 13  Dietary Habits                         169943 non-null  object
 14  Degree                                 169977 non-null  object
 15  Have you ever had suicidal thoughts ?  170700 non-null  object
 16  Work/Study Hours                       170700 non-null  float64
 17  Financial Stress                       169999 non-null  object
 18  Family History of Mental Illness       170700 non-null  object
 19  Depression                             170700 non-null  int64
dtypes: float64(2), int64(2), object(16)
memory usage: 26.0+ MB

In [4]:
data['Academic Pressure'].unique()

array([nan, 5.0, 2.0, 3.0, 4.0, 1.0, '1.0', '4.0', '2.0', '5.0', '3.0',
       'Error', 'Null', '??', '#VALUE!', 'Low', 'Not Available', 'Twenty',
       'High'], dtype=object)

In [5]:
data[data['Working Professional or Student']=='Working Professional']['Academic Pressure'].unique()

array([nan, 2.0, 4.0, 3.0, 'Error', 'Null', '??', 'Low', 'Not Available',
       '#VALUE!', 'Twenty', 'High', '4.0'], dtype=object)

In [6]:
missing_analysis = data[data['Academic Pressure'].isnull()]['Working Professional or Student'].value_counts()

print("S lng missing value ca Academic Pressure phn theo nhm i tng:")
print(missing_analysis)

S lng missing value ca Academic Pressure phn theo nhm i tng:
Working Professional or Student
Working Professional    136583
Student                     18
Name: count, dtype: int64

hu ht missing ca academic pressure u  l working professinal -> t ng i lm v kh cn i hcc -> t p lc hc

In [7]:
#student thieu work?
print("--- Check Student vs Work Data ---")
check_student = data[data['Working Professional or Student'] == 'Student'][['Work Pressure', 'Job Satisfaction']].isnull().sum()
print(check_student)

--- Check Student vs Work Data ---
Work Pressure       33880
Job Satisfaction    33869
dtype: int64

Work Pressure v Job Satisfaction b thiu ch yu l do nhm Student (chim ~98% s lng missing ca ct ny).

In [8]:
data[data['Work Pressure'].isnull()]['Working Professional or Student'].value_counts()

Working Professional or Student
Student                 33880
Working Professional      613
Name: count, dtype: int64

In [9]:
data['Work Pressure'].unique()

array([5.0, 4.0, nan, 1.0, 2.0, 3.0, '4.0', '1.0', '5.0', '2.0', '3.0',
       '??', 'Error', 'Low', 'Twenty', '#VALUE!', 'Null', 'High',
       'Not Available'], dtype=object)

34493 missing  work Pressure

In [10]:
# Ai thieuu Profession?
print("\n--- Check Missing Profession ---")
missing_profession = data[data['Profession'].isnull()]['Working Professional or Student'].value_counts()
print(missing_profession)

--- Check Missing Profession ---
Working Professional or Student
Student                 33884
Working Professional    11184
Name: count, dtype: int64

Ct Profession b thiu bao gm c Student (v h cha c ngh) v Working Professional (nhm ngi i lm nhng khng khai bo ngh nghip c th - khong 11k ngi).

## Process

X l trn bn copy  trnh sai st, sau khi cht s convert bn copy -> chnh

In [11]:
data_copy = data.copy()

In [12]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170700 entries, 0 to 170699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     170700 non-null  int64
 1   Name                                   170700 non-null  object
 2   Gender                                 169976 non-null  object
 3   Age                                    170700 non-null  float64
 4   City                                   169942 non-null  object
 5   Working Professional or Student        170700 non-null  object
 6   Profession                             125632 non-null  object
 7   Academic Pressure                      34099 non-null   object
 8   Work Pressure                          136207 non-null  object
 9   CGPA                                   35308 non-null   object
 10  Study Satisfaction                     34090 non-null   object
 11  Job Satisfaction                       136789 non-null  object
 12  Sleep Duration                         169950 non-null  object
 13  Dietary Habits                         169943 non-null  object
 14  Degree                                 169977 non-null  object
 15  Have you ever had suicidal thoughts ?  170700 non-null  object
 16  Work/Study Hours                       170700 non-null  float64
 17  Financial Stress                       169999 non-null  object
 18  Family History of Mental Illness       170700 non-null  object
 19  Depression                             170700 non-null  int64
dtypes: float64(2), int64(2), object(16)
memory usage: 26.0+ MB

## Handle text

Academic Pressure', 'Study Satisfaction', 'Work Pressure', 'Job Satisfaction

In [13]:
data_copy.isnull().sum().sort_values(ascending = False)

Study Satisfaction                       136610
Academic Pressure                        136601
CGPA                                     135392
Profession                                45068
Work Pressure                             34493
Job Satisfaction                          33911
City                                        758
Dietary Habits                              757
Sleep Duration                              750
Gender                                      724
Degree                                      723
Financial Stress                            701
Age                                           0
Name                                          0
id                                            0
Working Professional or Student               0
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Family History of Mental Illness              0
Depression                                    0
dtype: int64

In [14]:
def clean_raw_garbage_only(df, col_list):
    for colname in col_list:
        # Mapping ch m t  s
        mapping = {'Low': 1, 'High': 5}
        df[colname] = df[colname].replace(mapping)

        # Loi gi tr li
        invalid_values = ['Error', 'Null', '??', '#VALUE!', 
                          'Not Available', 'Twenty']
        df[colname] = df[colname].replace(invalid_values, np.nan)

        #p v s
        df[colname] = pd.to_numeric(df[colname], errors='coerce')
        
    return df
target_cols = ['Academic Pressure', 'Study Satisfaction', 'Work Pressure', 'Job Satisfaction', 'Financial Stress']

data_copy = clean_raw_garbage_only(data_copy, target_cols)

In [15]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170700 entries, 0 to 170699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     170700 non-null  int64
 1   Name                                   170700 non-null  object
 2   Gender                                 169976 non-null  object
 3   Age                                    170700 non-null  float64
 4   City                                   169942 non-null  object
 5   Working Professional or Student        170700 non-null  object
 6   Profession                             125632 non-null  object
 7   Academic Pressure                      33933 non-null   float64
 8   Work Pressure                          136063 non-null  float64
 9   CGPA                                   35308 non-null   object
 10  Study Satisfaction                     33932 non-null   float64
 11  Job Satisfaction                       136619 non-null  float64
 12  Sleep Duration                         169950 non-null  object
 13  Dietary Habits                         169943 non-null  object
 14  Degree                                 169977 non-null  object
 15  Have you ever had suicidal thoughts ?  170700 non-null  object
 16  Work/Study Hours                       170700 non-null  float64
 17  Financial Stress                       169827 non-null  float64
 18  Family History of Mental Illness       170700 non-null  object
 19  Depression                             170700 non-null  int64
dtypes: float64(7), int64(2), object(11)
memory usage: 26.0+ MB

In [16]:
data_copy['Academic Pressure'].unique()

array([nan,  5.,  2.,  3.,  4.,  1.])

X l ct CGPA

In [17]:
data_copy['CGPA'] = pd.to_numeric(data_copy['CGPA'], errors='coerce')

- sau khi p kiu float cho CGPA, ci no kh p c -> NaN th missing hin ti

In [18]:
data_copy.isnull().sum().sort_values(ascending = False)

Study Satisfaction                       136768
Academic Pressure                        136767
CGPA                                     135595
Profession                                45068
Work Pressure                             34637
Job Satisfaction                          34081
Financial Stress                            873
City                                        758
Dietary Habits                              757
Sleep Duration                              750
Gender                                      724
Degree                                      723
Age                                           0
Name                                          0
id                                            0
Working Professional or Student               0
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Family History of Mental Illness              0
Depression                                    0
dtype: int64

- kim tra logic trn data gc

In [19]:
#xt xem c ai l Student l ct Profession khc Student khng phi NaN
mask = (data['Working Professional or Student'] == 'Student') & (data['Profession'] != 'Student') & (data['Profession'].notna())
data[mask].head(5)

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
609,609,Anand,Male,21.0,Ahmedabad,Student,Civil Engineer,5.0,NaN,7.83,1.0,NaN,5-6 hours,Healthy,MSc,Yes,11.0,3.0,Yes,1
2105,2105,Shreya,Female,31.0,Vadodara,Student,Architect,5.0,NaN,6.95,3.0,NaN,Less than 5 hours,Moderate,BSc,No,8.0,1.0,Yes,1
9483,9483,Vidya,Female,32.0,Kalyan,Student,UX/UI Designer,3.0,NaN,9.6,2.0,NaN,7-8 hours,Moderate,PhD,Yes,5.0,3.0,No,1
11470,11470,Anjali,Female,28.0,Ahmedabad,Student,Digital Marketer,5.0,NaN,9.72,3.0,NaN,More than 8 hours,Healthy,MA,Yes,10.0,5.0,Yes,1
12425,12425,Rupak,Male,25.0,Kalyan,Student,Content Writer,5.0,NaN,8.5,2.0,NaN,5-6 hours,Moderate,B.Ed,Yes,0.0,2.0,Yes,1

- check  iu kin cc ct dng numeric  p dng logic ng

In [20]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170700 entries, 0 to 170699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     170700 non-null  int64
 1   Name                                   170700 non-null  object
 2   Gender                                 169976 non-null  object
 3   Age                                    170700 non-null  float64
 4   City                                   169942 non-null  object
 5   Working Professional or Student        170700 non-null  object
 6   Profession                             125632 non-null  object
 7   Academic Pressure                      33933 non-null   float64
 8   Work Pressure                          136063 non-null  float64
 9   CGPA                                   35105 non-null   float64
 10  Study Satisfaction                     33932 non-null   float64
 11  Job Satisfaction                       136619 non-null  float64
 12  Sleep Duration                         169950 non-null  object
 13  Dietary Habits                         169943 non-null  object
 14  Degree                                 169977 non-null  object
 15  Have you ever had suicidal thoughts ?  170700 non-null  object
 16  Work/Study Hours                       170700 non-null  float64
 17  Financial Stress                       169827 non-null  float64
 18  Family History of Mental Illness       170700 non-null  object
 19  Depression                             170700 non-null  int64
dtypes: float64(8), int64(2), object(10)
memory usage: 26.0+ MB

- P dng logic sa STUDENT vi Working Professional

ch ny return 'DROP' l v mnh cn p dng hm apply  y

  temp['New_Role'] = temp.apply(decide_action, axis=1) .

L do trong Pandas, hm apply hot ng theo c ch Row-wise (tng dng) v n mong i mt gi tr tr v  gn vo ct mi (New_Role)-> khng th xa dng trc tip ngay bn trong hm apply c, v n ang duyt qua dataframe. Nu xa dng khi ang duyt, n s gy li index hoc kt qu sai lch.

In [21]:
import pandas as pd
import numpy as np

def strict_role_correction_v3(df):
    
    temp = df.copy()
    
    # 1. TNH IM (SCORING)
    # NaN = 0 im, C d liu (>0) = 1 im
    # (Lu : D liu ca bn  l s hoc NaN)
    
    # Nhm Student (Max 3 im): Academic Pressure, Study Satisfaction, CGPA
    s_cols = ['Academic Pressure', 'Study Satisfaction', 'CGPA']
    temp['S_Score'] = temp[s_cols].notna().sum(axis=1)
    
    # Nhm Worker (Max 2 im): Work Pressure, Job Satisfaction
    w_cols = ['Work Pressure', 'Job Satisfaction']
    temp['W_Score'] = temp[w_cols].notna().sum(axis=1)
    
    # HM LOGIC XT DUYT
    def decide_action(row):
        role = row['Working Professional or Student']
        s = row['S_Score']
        w = row['W_Score']
        
        # LOGIC CHO NHM KHAI L STUDENT 
        if role == 'Student':
            # Case: Gi nguyn (Student)
            # 3-0, 3-1, 2-1, 2-0, 1-0
            if (s == 3) or \
               (s == 2 and w <= 1) or \
               (s == 1 and w == 0):
                return 'Student'
            
            # Case: Ha -> Student (1-1, 2-2)
            if (s == 1 and w == 1) or (s == 2 and w == 2):
                return 'Student'
            
            # Case: i sang Worker (0-2, 1-2)
            if (s == 0 and w == 2) or (s == 1 and w == 2):
                return 'Working Professional'
            
            # Case: Drop (0-1)
            if s == 0 and w == 1:
                return 'DROP'
                
        # LOGIC CHO NHM KHAI L WORKER 
        elif role == 'Working Professional':
            # Case: Gi nguyn (Worker)
            # 2-0, 2-1 (W=2, S=0/1)
            if (w == 2 and s <= 1):
                return 'Working Professional'
                
            # Case: Ha -> Worker (1-1, 2-2)
            if (w == 1 and s == 1) or (w == 2 and s == 2):
                return 'Working Professional'
            
            # Case: i sang Student (0-3, 1-3, 1-2 -> W=0/1, S=3/2)
            if (w == 0 and s == 3) or \
               (w == 1 and s == 3) or \
               (w == 1 and s == 2):
                return 'Student'
            
            # B sung: W=0, S=2 (Tng t 0-3) -> Student
            if w == 0 and s == 2:
                return 'Student'

            # Case: Drop (0-1 -> W=0, S=1)
            if w == 0 and s == 1:
                return 'DROP'
        
        # Cc trng hp cn li (0-0...) -> Gi nguyn
        return role

    # 3. P DNG LOGIC
    temp['New_Role'] = temp.apply(decide_action, axis=1)
    
    # 4. THC HIN THAY I
    
    # Bc A: Bo co
    n_drop = (temp['New_Role'] == 'DROP').sum()
    n_switch = (temp['Working Professional or Student'] != temp['New_Role']) & (temp['New_Role'] != 'DROP')
    print(f"-> S lng dng s xa (DROP): {n_drop}")
    print(f"-> S lng dng s i vai (SWITCH): {n_switch.sum()}")

    # Bc B: Drop dng
    df_clean = df[temp['New_Role'] != 'DROP'].copy()
    temp_clean = temp[temp['New_Role'] != 'DROP'] # ng b temp
    
    # Bc C: Cp nht Role mi
    mask_update = df_clean['Working Professional or Student'] != temp_clean['New_Role']
    df_clean.loc[mask_update, 'Working Professional or Student'] = temp_clean.loc[mask_update, 'New_Role']
    
    # 5. DN DP D LIU THA (CLEANUP)
    # Xa d liu ca phe i lp (v NaN  nht qun vi vic gi missing)
    
    mask_st = df_clean['Working Professional or Student'] == 'Student'
    df_clean.loc[mask_st, ['Work Pressure', 'Job Satisfaction']] = np.nan
    
    mask_wk = df_clean['Working Professional or Student'] == 'Working Professional'
    df_clean.loc[mask_wk, ['Academic Pressure', 'Study Satisfaction', 'CGPA']] = np.nan
    
    return df_clean

data_copy = strict_role_correction_v3(data_copy)

-> S lng dng s xa (DROP): 3
-> S lng dng s i vai (SWITCH): 10

- Check li logic

In [22]:
#kim tra xem thng no l Student m s ct i hc t hn i lm khng
mask = (data_copy['Working Professional or Student'] == 'Student') & (data_copy[['Academic Pressure', 'Study Satisfaction', 'CGPA']].notna().sum(axis=1) < data_copy[['Work Pressure', 'Job Satisfaction']].notna().sum(axis=1))
data_copy[mask]

Empty DataFrame
Columns: [id, Name, Gender, Age, City, Working Professional or Student, Profession, Academic Pressure, Work Pressure, CGPA, Study Satisfaction, Job Satisfaction, Sleep Duration, Dietary Habits, Degree, Have you ever had suicidal thoughts ?, Work/Study Hours, Financial Stress, Family History of Mental Illness, Depression]
Index: []

In [23]:
#kim tra xem thng l Student m c thng tin cc ct i lm khng
mask = (data_copy['Working Professional or Student'] == 'Student') & (data_copy['Work Pressure'].notna() | data_copy['Job Satisfaction'].notna())
data_copy[mask]

Empty DataFrame
Columns: [id, Name, Gender, Age, City, Working Professional or Student, Profession, Academic Pressure, Work Pressure, CGPA, Study Satisfaction, Job Satisfaction, Sleep Duration, Dietary Habits, Degree, Have you ever had suicidal thoughts ?, Work/Study Hours, Financial Stress, Family History of Mental Illness, Depression]
Index: []

- Thng s sau khi sa logic

In [24]:
data_copy.isnull().sum().sort_values(ascending = False)

CGPA                                     136831
Academic Pressure                        136817
Study Satisfaction                       136814
Profession                                45065
Work Pressure                             34650
Job Satisfaction                          34094
Financial Stress                            873
City                                        758
Dietary Habits                              757
Sleep Duration                              750
Gender                                      724
Degree                                      723
Age                                           0
Name                                          0
id                                            0
Working Professional or Student               0
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Family History of Mental Illness              0
Depression                                    0
dtype: int64

- drop mt 3 ct li , ch in 1 loi vd : student nhng ch in mi ct job

In [25]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 170697 entries, 0 to 170699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     170697 non-null  int64
 1   Name                                   170697 non-null  object
 2   Gender                                 169973 non-null  object
 3   Age                                    170697 non-null  float64
 4   City                                   169939 non-null  object
 5   Working Professional or Student        170697 non-null  object
 6   Profession                             125632 non-null  object
 7   Academic Pressure                      33880 non-null   float64
 8   Work Pressure                          136047 non-null  float64
 9   CGPA                                   33866 non-null   float64
 10  Study Satisfaction                     33883 non-null   float64
 11  Job Satisfaction                       136603 non-null  float64
 12  Sleep Duration                         169947 non-null  object
 13  Dietary Habits                         169940 non-null  object
 14  Degree                                 169974 non-null  object
 15  Have you ever had suicidal thoughts ?  170697 non-null  object
 16  Work/Study Hours                       170697 non-null  float64
 17  Financial Stress                       169824 non-null  float64
 18  Family History of Mental Illness       170697 non-null  object
 19  Depression                             170697 non-null  int64
dtypes: float64(8), int64(2), object(10)
memory usage: 27.3+ MB

Dietary Habits

In [26]:
data_copy['Dietary Habits'].value_counts()

Dietary Habits
Moderate             59952
Unhealthy            55894
Healthy              54065
Yes                      4
2                        3
More Healthy             2
Gender                   2
No                       2
Male                     2
BSc                      1
Pratham                  1
1.0                      1
3                        1
Less than Healthy        1
Mihir                    1
No Healthy               1
Electrician              1
Hormonal                 1
Less Healthy             1
Vegas                    1
M.Tech                   1
Indoor                   1
Class 12                 1
Name: count, dtype: int64

In [27]:
def clean_dietary_habits_custom(df):
    col = df['Dietary Habits'].astype(str).str.strip().str.title()
    col = col.replace('Nan', np.nan)

    special_map = {
        'More Healthy': 'Healthy',
        'Less Healthy': 'Unhealthy',
        'Less Than Healthy': 'Unhealthy',
        'No Healthy': 'Unhealthy',
        
        '1': 'Unhealthy',   
        '1.0': 'Unhealthy',  
        
        '2': 'Moderate',
        '2.0': 'Moderate',
        
        '3': 'Healthy',      
        '3.0': 'Healthy'
    }
    col = col.replace(special_map)

    #Lc -> ngoi 3 kiu ny u l rc
    valid_values = ['Healthy', 'Moderate', 'Unhealthy']
    col = col.where(col.isin(valid_values), np.nan)

    df['Dietary Habits'] = col
    return df

data_copy = clean_dietary_habits_custom(data_copy) 

print("Phn phi Dietary Habits sau khi i logic:")
print(data_copy['Dietary Habits'].value_counts())

Phn phi Dietary Habits sau khi i logic:
Dietary Habits
Moderate     59955
Unhealthy    55898
Healthy      54068
Name: count, dtype: int64

In [28]:
data_copy.duplicated().sum()

0

In [29]:
data['City'].value_counts()

City
Kalyan         7728
Patna          6905
Vasai-Virar    6692
Kolkata        6603
Ahmedabad      6574
               ...
RajkOt            1
vadODaRa          1
LucKnow           1
VarANasI          1
CHeNnAI           1
Name: count, Length: 2054, dtype: int64

City

In [30]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [31]:
data['City'].value_counts()

City
Kalyan                7728
Patna                 6905
Vasai-Virar           6692
Kolkata               6603
Ahmedabad             6574
Meerut                6493
Rajkot                6120
Ludhiana              6080
Visakhapatnam         6070
Pune                  6053
Srinagar              5886
Mumbai                5767
Indore                5637
Agra                  5465
Surat                 5443
Varanasi              5368
Vadodara              5326
Hyderabad             5199
Kanpur                5123
Jaipur                5077
Thane                 5020
Lucknow               4961
Nagpur                4886
Bangalore             4795
Chennai               4709
Ghaziabad             4210
Delhi                 4183
Bhopal                4099
Faridabad             3823
Nashik                3669
 Kalyan                 35
_Kalyan                 31
_Mumbai                 29
-Kolkata                28
  Agra                  26
*Nagpur                 26
_Vadodara               26
*Mumbai                 25
  Kalyan                25
.Ghaziabad              25
-Ludhiana               25
.Patna                  25
_Pune                   25
_Visakhapatnam          24
 Meerut                 24
  Pune                  24
 Indore                 24
  Thane                 24
 Ludhiana               24
*Kalyan                 24
.Vasai-Virar            23
-Surat                  23
.Ludhiana               22
*Hyderabad              22
  Rajkot                22
-Vasai-Virar            22
-Vadodara               22
 Jaipur                 22
  Indore                22
_Vasai-Virar            22
  Ahmedabad             22
.Kanpur                 22
  Kolkata               22
.Surat                  21
.Ahmedabad              21
-Patna                  21
_Bangalore              21
*Kolkata                20
-Kalyan                 20
*Visakhapatnam          20
_Chennai                20
-Hyderabad              20
*Patna                  20
.Srinagar               20
-Bhopal                 20
 Mumbai                 19
 Patna                  19
 Hyderabad              19
.Vadodara               19
*Agra                   19
-Bangalore              19
-Visakhapatnam          19
-Rajkot                 19
 Ahmedabad              19
 Vasai-Virar            19
*Delhi                  19
_Meerut                 19
-Meerut                 18
.Kalyan                 18
_Srinagar               18
*Meerut                 18
-Pune                   18
*Ahmedabad              18
 Lucknow                18
 Surat                  18
  Hyderabad             18
*Faridabad              17
*Kanpur                 17
 Vadodara               17
  Patna                 17
 Srinagar               17
.Thane                  17
.Pune                   17
 Ghaziabad              17
*Lucknow                17
_Ahmedabad              17
.Hyderabad              17
  Ghaziabad             17
_Lucknow                17
 Bhopal                 17
*Rajkot                 16
-Indore                 16
*Bhopal                 16
 Bangalore              16
-Varanasi               16
-Ahmedabad              16
 Kolkata                16
_Varanasi               16
  Lucknow               16
  Mumbai                16
 Visakhapatnam          16
*Varanasi               16
.Jaipur                 16
  Visakhapatnam         16
*Chennai                16
  Bangalore             16
*Surat                  15
_Delhi                  15
  Surat                 15
*Vadodara               15
-Nagpur                 15
  Meerut                15
.Meerut                 15
-Ghaziabad              15
.Mumbai                 15
*Ludhiana               15
.Chennai                15
 Rajkot                 15
_Rajkot                 15
.Delhi                  15
 Varanasi               15
*Indore                 15
.Visakhapatnam          15
_Ghaziabad              15
*Bangalore              14
 Pune                   14
*Srinagar               14
  Vadodara              14
_Patna                  14
*Jaipur                 14
.Varanasi               14
  Vasai-Virar           14
_Kolkata                14
 Thane                  14
  Kanpur                14
-Thane                  14
-Chennai                14
_Hyderabad              14
_Nagpur                 13
*Thane                  13
_Indore                 13
.Faridabad              13
*Pune                   13
.Agra                   13
*Ghaziabad              13
-Srinagar               13
_Jaipur                 13
*Vasai-Virar            13
.Nagpur                 13
-Kanpur                 13
-Jaipur                 13
-Nashik                 13
  Faridabad             13
.Rajkot                 13
.Indore                 12
PUNE                    12
_Nashik                 12
.Kolkata                12
_Surat                  12
-Mumbai                 12
AGra                    12
_Kanpur                 12
-Faridabad              12
  Srinagar              12
puNe                    11
 Kanpur                 11
 Delhi                  11
  Jaipur                11
  Ludhiana              11
.Nashik                 11
-Lucknow                11
  Bhopal                11
_Thane                  11
 Chennai                11
puNE                    10
  Nagpur                10
  Delhi                 10
pune                    10
 Nagpur                 10
-Agra                   10
.Bhopal                 10
PUne                    10
  Chennai               10
 Nashik                 10
AgRA                     9
pUNe                     9
-Delhi                   9
_Ludhiana                9
 Faridabad               9
  Nashik                 9
  Varanasi               9
*Nashik                  9
pUne                     9
_Agra                    8
Mihir                    8
KALyaN                   8
PuNE                     8
_Faridabad               8
_Bhopal                  7
pAtna                    7
AGrA                     7
 Agra                    7
.Bangalore               7
pUnE                     7
AgRa                     7
.Lucknow                 7
aGra                     7
PATNa                    7
PuNe                     7
tHaNe                    6
RajKOT                   6
AGRa                     6
tHAnE                    6
KAlyAn                   6
agRa                     6
AGRA                     6
PUNe                     6
ThaNe                    6
PaTna                    6
paTna                    6
AgrA                     6
aGRA                     6
KANpUr                   6
PUnE                     6
agra                     6
PAtna                    6
MuMBaI                   5
sUraT                    5
SURAT                    5
kALYAN                   5
patNA                    5
InDoRe                   5
kAnPuR                   5
bhoPaL                   5
jaipur                   5
IndOrE                   5
kAlYaN                   5
NagpUR                   5
PaTnA                    5
aGRa                     5
jaIPur                   5
RaJKOt                   5
LucKNOW                  5
pATNa                    5
mEERUT                   5
Harsha                   5
kaLYaN                   5
inDOre                   5
nagPuR                   5
dElHi                    5
indoRe                   5
Vidya                    5
SuRAt                    5
PatNA                    5
punE                     5
PAtnA                    4
THAnE                    4
agrA                     4
ThaNE                    4
lUcknOW                  4
paTNa                    4
kalYAN                   4
inDORe                   4
mUmbAI                   4
kOlkatA                  4
KAnpuR                   4
mEeRuT                   4
muMbaI                   4
KoLKaTA                  4
kanpUR                   4
jaIpUR                   4
MEerut                   4
JaiPuR                   4
dELhI                    4
pUNE                     4
KAlyAN                   4
kAlyAN                   4
kAlYan                   4
MumbAI                   4
thAnE                    4
KALyAN                   4
KaLYaN                   4
muMBai                   4
pATNA                    4
tHANe                    4
kAlyan                   4
KANpUR                   4
PaTNA                    4
rAjkOt                   4
kaNpUr                   4
rAJKOT                   4
mumBai                   4
DELHI                    4
Saanvi                   4
kaNPUr                   4
dElhi                    4
PunE                     4
kaLyaN                   4
kAlYAn                   4
Nandini                  4
THane                    4
meeRut                   4
kaNPUR                   4
sURat                    4
deLhi                    4
mEeRUT                   4
sUrat                    4
jaIpur                   3
lUDHiAnA                 3
sUrAT                    3
luDhiaNa                 3
mEErut                   3
nagpur                   3
kANPUr                   3
NAGpUr                   3
dELHI                    3
naGPuR                   3
cheNnai                  3
iNDoRe                   3
sUrAt                    3
sURaT                    3
VadodARa                 3
mEERuT                   3
JAiPur                   3
bhoPal                   3
INdOrE                   3
BhoPal                   3
thaNE                    3
MeERuT                   3
kANPur                   3
ThANe                    3
agRA                     3
SUrAt                    3
JAIPuR                   3
NAgPur                   3
KalYAN                   3
Bhavna                   3
naShIk                   3
muMBAi                   3
INdoRe                   3
MUmBaI                   3
dElhI                    3
MuMBAI                   3
mUmbai                   3
nagpUR                   3
surAt                    3
MUMbai                   3
NaGPUR                   3
kALyAN                   3
kalyaN                   3
KoLKaTa                  3
RaJKot                   3
VaranasI                 3
kalYaN                   3
HyDErABad                3
iNDORe                   3
M.Com                    3
suRAT                    3
kOlkATA                  3
iNdOre                   3
Mahi                     3
jaIPuR                   3
Pratyush                 3
City                     3
kolKaTA                  3
THaNe                    3
jAiPUR                   3
rAJkOT                   3
KolkAtA                  3
NaGpuR                   3
jAipUr                   3
MeeRUT                   3
iNdORE                   3
kALYAn                   3
SrinaGAR                 3
SUrAT                    3
NAShik                   3
meERuT                   3
iNdorE                   3
kolkAtA                  3
rAjkOT                   3
KANpur                   3
mEERUt                   3
INDore                   3
bHoPaL                   3
KAlYAn                   3
MUMBAI                   3
LUckNow                  3
suRat                    3
KOLkatA                  3
suraT                    3
INDORe                   3
deLHI                    3
MEERut                   3
rajKot                   3
mEErUt                   3
KALYaN                   3
mumbAI                   3
KOLKATa                  3
PATna                    3
kaNpUR                   3
kaLyan                   3
delHI                    3
THanE                    3
SUraT                    3
nASHiK                   3
PaTNa                    3
iNdoRE                   3
KaNPUR                   3
tHAne                    3
kAnpuR                   3
koLkAtA                  3
mEeRut                   3
INDoRE                   3
JaiPUr                   3
NasHik                   3
patnA                    3
nAShik                   3
KAnpur                   3
RAJkOT                   3
luCknow                  3
SurAt                    3
KALYan                   3
srInagAr                 3
thane                    3
DeLhi                    3
bANGalore                3
paTNA                    3
MEeRUt                   3
surat                    3
PATNA                    3
PAtNa                    3
MumBai                   3
JaIpur                   3
NAgPuR                   3
LudhIANA                 3
BhoPAl                   3
naGpUr                   3
DElhI                    3
JaIPuR                   3
jAipUR                   3
DElHi                    3
kOlkata                  3
suRaT                    3
sRinagAR                 3
hyDErAbAd                3
ludHIAnA                 3
kolKatA                  3
deLhI                    3
LUDhIanA                 3
pAtnA                    3
KolKaTa                  3
IndORE                   3
meeruT                   2
LuDhIANA                 2
vARanAsI                 2
KanpUr                   2
rAJKoT                   2
pATna                    2
tHANE                    2
ahMEdaBaD                2
mumbAi                   2
rAjKot                   2
kAlYAN                   2
KOlkata                  2
meerut                   2
LuCknow                  2
MuMbAI                   2
bHoPal                   2
chENnai                  2
LudhiaNA                 2
pATnA                    2
KaNPuR                   2
kALyAn                   2
SuraT                    2
vAsai-viRAR              2
NAshiK                   2
cHeNnAI                  2
thANe                    2
VadOdARa                 2
sRiNAgaR                 2
MEErUT                   2
suRAt                    2
BhOPAL                   2
CheNnaI                  2
RajkOT                   2
VaDOdArA                 2
faRIdABAD                2
ahMedabAd                2
pAtNa                    2
BhopAl                   2
NAgPUR                   2
KAlYaN                   2
luCKnow                  2
SURat                    2
jAiPuR                   2
koLKaTa                  2
RajKOt                   2
THaNE                    2
LUckNOW                  2
LuDhiAnA                 2
AhMEDABaD                2
AHMedabAD                2
sRinAGAR                 2
jAipur                   2
SRInAgaR                 2
RAjkot                   2
kalyAN                   2
vadOdArA                 2
vARanaSI                 2
sRINAGar                 2
VadoDARA                 2
bANGaLOre                2
SRInAgAr                 2
MUMBAi                   2
nAGpur                   2
ChEnNaI                  2
JAipur                   2
LuCkNow                  2
kalyAn                   2
vaRanasI                 2
BHoPaL                   2
HydeRaBaD                2
IndorE                   2
kOLKATA                  2
RaJkOT                   2
KaLYAn                   2
MUMbAi                   2
NAshik                   2
ThAnE                    2
IndOre                   2
nashIk                   2
NashIk                   2
muMbai                   2
bHOpAL                   2
bhOPAL                   2
kALyan                   2
indOrE                   2
lUCknow                  2
nAGPUR                   2
KalyaN                   2
VaRaNASi                 2
KoLkatA                  2
ChenNaI                  2
RAJKoT                   2
fAriDaBad                2
LudHiaNA                 2
kaLyAn                   2
LUCKnOW                  2
MeErut                   2
sRInAgar                 2
kAnpur                   2
bhopaL                   2
DelhI                    2
kalYan                   2
koLkaTa                  2
inDorE                   2
vADoDarA                 2
mumBAI                   2
SRINAGAR                 2
JaiPUR                   2
srinaGAR                 2
HYDeRAbad                2
JaiPur                   2
NaGpUr                   2
CHennai                  2
cHENnaI                  2
NaGpUR                   2
AhmEDabAD                2
ahmEdaBaD                2
lucknOw                  2
KOLKatA                  2
delHi                    2
KAlYan                   2
MUmbaI                   2
meErUT                   2
ahMeDaBad                2
VaDOdarA                 2
lUCkNOw                  2
ghaziaBad                2
kANPuR                   2
LUCkNOW                  2
jAIpur                   2
LUDHIaNa                 2
muMBaI                   2
meeRUt                   2
mEerUT                   2
tHane                    2
kAnPur                   2
SRINagAr                 2
vADodARA                 2
MUmbai                   2
rajkoT                   2
MeerUT                   2
bHopaL                   2
DelHi                    2
bHOpal                   2
kolKaTa                  2
vadOdARa                 2
hYdERAbaD                2
nAGPur                   2
vaRAnasI                 2
CheNnAi                  2
JAIpUR                   2
meErUt                   2
inDOrE                   2
VaraNaSI                 2
CHeNNAI                  2
KANPUR                   2
lUdhIanA                 2
NaGPuR                   2
mUmbaI                   2
MumBAI                   2
ViSAKHAPaTNaM            2
MEeRuT                   2
DElHI                    2
VAdODara                 2
mumBAi                   2
MuMbaI                   2
jAIPUr                   2
THAne                    2
mUmBai                   2
NagPUR                   2
DeLHi                    2
kalyan                   2
kanPUR                   2
indORE                   2
HyDERabad                2
GHaZiAbAD                2
VaDodARa                 2
lucKnoW                  2
RAJKot                   2
BANGalorE                2
luDHIANA                 2
bHOPAl                   2
SrInAGAr                 2
DeLhI                    2
FARidAbaD                2
kAlyAn                   2
KanPUR                   2
BhOpal                   2
INdORE                   2
vADODarA                 2
luCKnOw                  2
vAdodArA                 2
mEeRUt                   2
chENnAI                  2
nAgpuR                   2
meERUt                   2
varanasi                 2
LUCkNow                  2
fARiDAbad                2
nAsHiK                   2
RAjkOT                   2
nashIK                   2
LuCknOw                  2
vaRAnaSi                 2
kALyaN                   2
KOlKaTA                  2
KAlyan                   2
KolkaTa                  2
SurAT                    2
VasAI-VIraR              2
aGrA                     2
VarANaSI                 2
NASHIk                   2
KanPur                   2
jaiPuR                   2
nAshik                   2
ChENNaI                  2
SuRAT                    2
sriNaGaR                 2
MEeRut                   2
MEErUt                   2
patNa                    2
mUmBaI                   2
BAngalORe                2
KaNpUR                   2
meEruT                   2
cHeNnaI                  2
chennaI                  2
ThAne                    2
KoLKAtA                  2
KoLKAta                  2
SUrat                    2
AhMEDaBAD                2
aHMEdabad                2
VaraNaSi                 2
LudhIanA                 2
nasHik                   2
JAIpUr                   2
SriNagAr                 2
KAnPur                   2
iNdOrE                   2
kOlKAtA                  2
NAGPUr                   2
mEERut                   2
Molkata                  2
jaIpuR                   2
SrINagAR                 2
nagpUr                   2
AHMEdaBAD                2
NAGPur                   2
nagPUR                   2
THANe                    2
luCKNow                  2
JAipUR                   2
MUmbAI                   2
NashIK                   2
Ivaan                    2
kaNpur                   2
ChennAI                  2
MCA                      2
BHopAl                   2
ChenNai                  2
Atharv                   2
IndORe                   2
JaIPur                   2
Nalini                   2
nAsHIk                   2

In [32]:
# V d: 'aHMedabAd ' -> 'Ahmedabad'
data_copy['City'] = data_copy['City'].astype(str).str.strip().str.title()
print("Tng s thnh ph thc t", data_copy['City'].nunique())

Tng s thnh ph thc t 219

In [33]:
data_copy['City'].isnull().sum()

0

In [34]:
# Convert li Nan
data_copy['City'] = data_copy['City'].replace('Nan', np.nan)

print(data_copy['City'].isnull().sum())

758

In [35]:
import pandas as pd
import numpy as np
import re

def process_city_direct(df):
    print("--- BT U X L TRC TIP CT CITY ---")
    
    #  CHUN HA (Xa k t c bit u dng + Title Case)
    def normalize_text(val):
        val = str(val).strip()
        if val.lower() == 'nan': return np.nan
        # Xa mi k t khng phi ch ci  u chui (v d: *Nagpur -> Nagpur)
        val = re.sub(r'^[^a-zA-Z]+', '', val)
        return val.title()

    df['City'] = df['City'].apply(normalize_text)

    # A LI CHNH T (Mapping trc tip)
    typo_map = {
        'Molkata': 'Kolkata', 
        'Tolkata': 'Kolkata',
        'Khaziabad': 'Ghaziabad', 
        'Galesabad': 'Ghaziabad',
        'Less Delhi': 'Delhi',
        'Nalyan': 'Kalyan', 
        'Less Than 5 Kalyan': 'Kalyan',
        'Ishanabad': 'Ghaziabad' 
    }
    df['City'] = df['City'].replace(typo_map)

    # LC D LIU HP L 
    # Ch gi li tn cc thnh ph chun, cn li (Tn ngi, Bng cp...) -> NaN
    valid_cities = [
        'Ahmedabad', 'Agra', 'Bangalore', 'Bhopal', 'Chennai', 'Delhi', 
        'Faridabad', 'Ghaziabad', 'Gurgaon', 'Hyderabad', 'Indore', 
        'Jaipur', 'Kalyan', 'Kanpur', 'Kolkata', 'Lucknow', 'Ludhiana', 
        'Meerut', 'Mumbai', 'Nagpur', 'Nashik', 'Patna', 'Pune', 
        'Rajkot', 'Srinagar', 'Surat', 'Thane', 'Vadodara', 'Varanasi', 
        'Vasai-Virar', 'Visakhapatnam'
    ]
    
    # Bin nhng gi tr khng nm trong list ny thnh NaN
    df.loc[~df['City'].isin(valid_cities), 'City'] = np.nan
    
    # Xa cc dng rc (NaN)
    initial_len = len(df)
    df = df.dropna(subset=['City'])
    print(f"->  loi b {initial_len - len(df)} dng rc trong ct City.")

    return df

# P DNG (Chy trn data_copy)
data_copy = process_city_direct(data_copy)

# Kim tra kt qu
print("\nPhn phi ct City sau khi x l:")
print(data_copy['City'].value_counts())

--- BT U X L TRC TIP CT CITY ---
->  loi b 861 dng rc trong ct City.

Phn phi ct City sau khi x l:
City
Kalyan           8029
Patna            7127
Vasai-Virar      6916
Kolkata          6832
Ahmedabad        6794
Meerut           6705
Rajkot           6307
Ludhiana         6303
Visakhapatnam    6302
Pune             6282
Srinagar         6082
Mumbai           5989
Indore           5852
Agra             5640
Surat            5627
Varanasi         5546
Vadodara         5541
Hyderabad        5405
Kanpur           5318
Jaipur           5263
Thane            5195
Lucknow          5142
Nagpur           5055
Bangalore        4990
Chennai          4871
Ghaziabad        4393
Delhi            4330
Bhopal           4245
Faridabad        3960
Nashik           3794
Gurgaon             1
Name: count, dtype: int64

In [36]:
data_copy = data_copy.dropna(subset=['City'])

drop Gurgagon v ch xut hin 1 ln

In [37]:
data_copy = data_copy[data_copy['City'].str.strip().str.lower() != 'gurgaon']

In [38]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 169835 entries, 0 to 170699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     169835 non-null  int64
 1   Name                                   169835 non-null  object
 2   Gender                                 169111 non-null  object
 3   Age                                    169835 non-null  float64
 4   City                                   169835 non-null  object
 5   Working Professional or Student        169835 non-null  object
 6   Profession                             125001 non-null  object
 7   Academic Pressure                      33706 non-null   float64
 8   Work Pressure                          135368 non-null  float64
 9   CGPA                                   33690 non-null   float64
 10  Study Satisfaction                     33708 non-null   float64
 11  Job Satisfaction                       135922 non-null  float64
 12  Sleep Duration                         169085 non-null  object
 13  Dietary Habits                         169060 non-null  object
 14  Degree                                 169112 non-null  object
 15  Have you ever had suicidal thoughts ?  169835 non-null  object
 16  Work/Study Hours                       169835 non-null  float64
 17  Financial Stress                       168967 non-null  float64
 18  Family History of Mental Illness       169835 non-null  object
 19  Depression                             169835 non-null  int64
dtypes: float64(8), int64(2), object(10)
memory usage: 27.2+ MB

- Gender

In [39]:
data['Gender'].unique()

array(['Female', 'Male', 'prefer not to say', 'M', nan, 'FEMALE', 'F',
       'Woman', 'male', 'Dude', 'Lady', 'female', 'Girl', 'Man', 'Boy',
       'Other', 'MALE', 'm'], dtype=object)

In [40]:
gender_map = {
    #Nam
    'Male': 'Male', 'MALE': 'Male', 'male': 'Male', 
    'M': 'Male', 'm': 'Male', 
    'Man': 'Male', 'Boy': 'Male', 'Dude': 'Male',
    
    #N
    'Female': 'Female', 'FEMALE': 'Female', 'female': 'Female', 
    'F': 'Female', 
    'Lady': 'Female', 'Girl': 'Female', 'Woman': 'Female',
    
    # Nhm Khc
    'Other': 'Other', 
    'prefer not to say': 'Other'
}

data_copy['Gender'] = data_copy['Gender'].replace(gender_map)
# Drop
data_copy = data_copy.dropna(subset=['Gender'])
print("Phn phi gii tnh sau khi lm sch:")
print(data_copy['Gender'].value_counts())

Phn phi gii tnh sau khi lm sch:
Gender
Male      92675
Female    75682
Other       754
Name: count, dtype: int64

In [41]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 169111 entries, 0 to 170699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     169111 non-null  int64
 1   Name                                   169111 non-null  object
 2   Gender                                 169111 non-null  object
 3   Age                                    169111 non-null  float64
 4   City                                   169111 non-null  object
 5   Working Professional or Student        169111 non-null  object
 6   Profession                             124458 non-null  object
 7   Academic Pressure                      33566 non-null   float64
 8   Work Pressure                          134791 non-null  float64
 9   CGPA                                   33548 non-null   float64
 10  Study Satisfaction                     33568 non-null   float64
 11  Job Satisfaction                       135343 non-null  float64
 12  Sleep Duration                         168361 non-null  object
 13  Dietary Habits                         168336 non-null  object
 14  Degree                                 168388 non-null  object
 15  Have you ever had suicidal thoughts ?  169111 non-null  object
 16  Work/Study Hours                       169111 non-null  float64
 17  Financial Stress                       168250 non-null  float64
 18  Family History of Mental Illness       169111 non-null  object
 19  Depression                             169111 non-null  int64
dtypes: float64(8), int64(2), object(10)
memory usage: 27.1+ MB

- Sleep Duration

In [42]:
data_copy['Sleep Duration'].value_counts()

Sleep Duration
Less than 5 hours    46456
7-8 hours            44159
More than 8 hours    38997
5-6 hours            38658
3-4 hours               13
6-7 hours               10
4-5 hours                8
1-6 hours                6
6-8 hours                5
2-3 hours                5
No                       5
4-6 hours                5
Unhealthy                4
9-6 hours                2
10-11 hours              2
45                       2
10-6 hours               2
9-11 hours               2
8-9 hours                2
Sleep_Duration           2
1-3 hours                1
55-66 hours              1
Moderate                 1
40-45 hours              1
1-2 hours                1
35-36 hours              1
8 hours                  1
Indore                   1
than 5 hours             1
49 hours                 1
Work_Study_Hours         1
3-6 hours                1
45-48 hours              1
9-5                      1
Pune                     1
9-5 hours                1
Name: count, dtype: int64

cho 9-6 vf 9-5 vo rc

In [43]:
def categorize_sleep(val):
    # Chuyn v chui thng  x l
    val = str(val).lower().strip()
    
    # NHM 1: > 8 hours
    # Bao gm: More than 8, 8-9, 9-11, 10-11... 
    if any(x in val for x in ['more than 8', '8-9', '9-11', '10-11']):
        return 'More than 8 hours'
    
    # NHM 2: 6-8 hours (Logic: 6 < hour <= 8) 
    # Bao gm: 7-8, 6-7, 6-8, 8 hours... 
    elif any(x in val for x in ['7-8', '6-7', '6-8', '8 hours']):
        return '6-8 hours'
        
    # NHM 3: <= 6 hours 
    # Bao gm: Less than 5, 5-6, 3-4, 4-5...
    elif any(x in val for x in ['less than 5', '5-6', '3-4', '4-5', '1-6', '4-6', 
                                '2-3', '3-6', 'than 5', '1-2', '1-3']):
        return 'Less than or equal 6 hours'

    # RC (Pune, No, 45...)
    else:
        return np.nan

data_copy['Sleep Duration'] = data_copy['Sleep Duration'].apply(categorize_sleep)

# Drop NaN
data_copy = data_copy.dropna(subset=['Sleep Duration'])

sleep_order = ['Less than or equal 6 hours', '6-8 hours', 'More than 8 hours']
data_copy['Sleep Duration'] = pd.Categorical(data_copy['Sleep Duration'], categories=sleep_order, ordered=True)

print("--- PHN PHI MI ---")
print(data_copy['Sleep Duration'].value_counts().sort_index())

--- PHN PHI MI ---
Sleep Duration
Less than or equal 6 hours    85156
6-8 hours                     44176
More than 8 hours             39003
Name: count, dtype: int64

- Degree

In [44]:
data_copy['Degree'].unique()

array(['BHM', 'LLB', 'B.Pharm', 'BBA', 'MCA', 'MD', 'BSc', 'ME', 'B.Arch',
       'BCA', 'BE', 'MA', 'B.Ed', 'B.Com', 'MBA', 'M.Com', 'MHM', 'BA',
       'Class 12', 'M.Tech', 'PhD', 'M.Ed', 'MSc', 'B.Tech', 'LLM',
       'MBBS', 'M.Pharm', 'UX/UI Designer', 'MPA', 'BH', 'Nalini', 'BEd',
       'B.Sc', 'Veda', 'Bhopal', 'S.Tech', 'Degree', '20', 'Class 11',
       'H_Pharm', 'M', 'P.Com', 'BPharm', 'Business Analyst', 'M.Arch',
       'LL.Com', 'Data Scientist', 'MPharm', 'L.Ed', 'P.Pharm', 'Kalyan',
       'Unite', 'BArch', 'HR Manager', 'Badhya', 'S.Pharm', 'LLBA',
       'Vrinda', 'M. Business Analyst', 'Bhavesh', '0', 'LLCom', '29',
       'MTech', 'Vivaan', 'BPA', 'Plumber', '5.61', 'Brit', 'B.03',
       'Ritik', '5.56', 'MEd', 'B', 'B BA', '7.06', 'B.B.Arch', 'ACA',
       'Brithika', 'CGPA', '24', 'M_Tech', 'Pihu', 'BB', 'Jhanvi',
       'LLTech', 'Aarav', 'Entrepreneur', '8.56', 'LHM', 'Lata', 'S.Arch',
       'Marsh', 'HCA', '5.88', 'B.Student', 'LL B.Ed', 'M.S', 'Navya',
       'Mahika', nan, 'K.Ed', 'B.3.79', 'Mthanya', 'Working Professional',
       'Esha', 'LLS', 'LLEd', 'E.Tech', 'Doctor', 'N.Pharm', 'LCA',
       'B B.Com', 'Mihir', 'Advait', 'B Tech', 'HSC', 'Unknown', '??',
       'Bachelor of Tech', 'b.tech', 'Not Applicable', 'BTech', '12th'],
      dtype=object)

In [45]:
import pandas as pd
import numpy as np

def group_degree_level(val):
    # Chuyn v ch thng v xa khong trng
    val = str(val).lower().strip()
    
    # NHM TIN S 
    if 'phd' in val:
        return 'Doctorate'
        
    # NHM THC S (Master / Post-Graduate)
    if any(x in val for x in ['m.tech', 'mtech', 'me', 'm.sc', 'msc', 'm.s', 
                              'm.com', 'mcom', 'mba', 'mca', 'm.ed', 'med', 
                              'llm', 'ma', 'm.a', 'm.arch', 'march', 'm.pharm', 'mpharm',
                              'md', 'doctor', 'ca', 'aca','mhm']):
        return 'Master'

    # NHM C NHN (Bachelor / Undergraduate)
    if any(x in val for x in ['b.tech', 'btech', 'b tech', 'be', 'bachelor', 
                              'b.sc', 'bsc', 'b.com', 'bcom', 'bba', 'bb', 'b ba', 
                              'bca', 'mbbs', 'b.pharm', 'bpharm', 'b.ph', 
                              'b.arch', 'barch', 'b.ed', 'bed', 'llb', 'll b', 
                              'ba', 'b.a', 'bhm']):
        return 'Bachelor'

    # NHM TRUNG HC (High School)
    if any(x in val for x in ['class 12', '12th', 'hsc', 'class 11']):
        return 'High School'
        
    # CC TRNG HP RC
    return np.nan

data_copy['Degree'] = data_copy['Degree'].apply(group_degree_level)

# Xa cc dng rc (NaN) trc tip trn ct Degree
# (Nhng gi tr nh 'Plumber', 'Manager'  bin thnh NaN)
data_copy = data_copy.dropna(subset=['Degree'])

print("PHN PHI TRNH  HC VN (4 NHM)")
print(data_copy['Degree'].value_counts())

PHN PHI TRNH  HC VN (4 NHM)
Degree
Bachelor       80108
Master         65006
High School    17846
Doctorate       3569
Name: count, dtype: int64

- Financial Stress

- Ct ny sa lc u ri -> khng lm na

In [46]:
data_copy['Financial Stress'].value_counts()

Financial Stress
2.0    37077
5.0    33320
4.0    32589
1.0    32060
3.0    30663
Name: count, dtype: int64

In [47]:
data_copy.isnull().sum().sort_values(ascending = False)

CGPA                                     133473
Academic Pressure                        133456
Study Satisfaction                       133452
Profession                                43984
Work Pressure                             33795
Job Satisfaction                          33257
Financial Stress                            820
Dietary Habits                              745
Age                                           0
Gender                                        0
Name                                          0
id                                            0
Working Professional or Student               0
City                                          0
Degree                                        0
Sleep Duration                                0
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Family History of Mental Illness              0
Depression                                    0
dtype: int64

- Profession

In [48]:
data_copy['Profession'].unique()

array(['Chef', 'Teacher', nan, 'Business Analyst', 'Finanancial Analyst',
       'Chemist', 'Electrician', 'Software Engineer', 'Data Scientist',
       'Plumber', 'Marketing Manager', 'Accountant', 'Entrepreneur',
       'HR Manager', 'UX/UI Designer', 'Content Writer',
       'Educational Consultant', 'Civil Engineer', 'Manager',
       'Pharmacist', 'Financial Analyst', 'Architect',
       'Mechanical Engineer', 'Customer Support', 'Consultant', 'Judge',
       'Researcher', 'Pilot', 'Graphic Designer', 'Travel Consultant',
       'Digital Marketer', 'Lawyer', 'Research Analyst',
       'Sales Executive', 'Doctor', 'Unemployed', 'Investment Banker',
       'Family Consultant', 'B.Com', 'BE', 'Student', 'Yogesh', 'Dev',
       'MBA', 'LLM', 'BCA', 'Academic', 'Profession', 'FamilyVirar',
       'City Manager', 'BBA', 'Medical Doctor', 'Working Professional',
       'MBBS', 'Patna', 'Unveil', 'B.Ed', 'Nagpur', 'Moderate', 'M.Ed',
       'Analyst', 'Pranav', 'Visakhapatnam', 'PhD', 'Yuvraj',
       'DIGITAL MARKETER', 'MECHANICAL ENGINEER', 'JUDGE', 'HR MANAGER',
       'teacher', 'content writer', 'ACCOUNTANT', 'sales executive',
       'FINANCIAL ANALYST', 'DOCTOR', 'manager', 'hr manager',
       'RESEARCHER', 'MARKETING MANAGER', 'GRAPHIC DESIGNER',
       'ENTREPRENEUR', 'PHARMACIST', 'TEACHER', 'CONSULTANT', 'lawyer',
       'travel consultant', 'CONTENT WRITER', 'DATA SCIENTIST', 'judge',
       'SALES EXECUTIVE', 'doctor', 'financial analyst',
       'BUSINESS ANALYST', 'finanancial analyst', 'chemist', 'accountant',
       'chef', 'TRAVEL CONSULTANT', 'ARCHITECT', 'electrician',
       'entrepreneur', 'architect', 'UX/UI DESIGNER', 'CUSTOMER SUPPORT',
       'consultant', 'data scientist', 'pharmacist', 'pilot',
       'ELECTRICIAN', 'EDUCATIONAL CONSULTANT', 'customer support',
       'CHEF', 'CIVIL ENGINEER', 'graphic designer', 'business analyst',
       'educational consultant', 'PLUMBER', 'marketing manager',
       'CHEMIST', 'LAWYER', 'digital marketer', 'ux/ui designer',
       'MANAGER', 'mechanical engineer', 'researcher', 'PILOT',
       'INVESTMENT BANKER', 'research analyst', 'RESEARCH ANALYST',
       'SOFTWARE ENGINEER', 'civil engineer', 'FINANANCIAL ANALYST',
       'plumber', 'UNEMPLOYED', 'software engineer', 'investment banker',
       'STUDENT', 'unveil'], dtype=object)

In [49]:
# CHUN HA TEXT
# Xa khong trng, vit hoa ch ci u (Gp teacher -> Teacher)
data_copy['Profession'] = data_copy['Profession'].astype(str).str.strip().str.title()
# X l li 'Nan' do p kiu
data_copy['Profession'] = data_copy['Profession'].replace('Nan', np.nan)

# A LI CHNH T (Typo Correction)
typo_map = {
    'Finanancial Analyst': 'Financial Analyst',  # Fix li tha ch 'an'
    'Ux/Ui Designer': 'UX/UI Designer',          # Vit li cho ng chun
    'Hr Manager': 'HR Manager'            # Vit li cho ng chun
}
data_copy['Profession'] = data_copy['Profession'].replace(typo_map)

# LC RC
# Nhng gi tr ny l Tn ngi, Thnh ph, Bng cp... nhp sai ct
garbage_values = [
    # Tn ngi
    'Yogesh', 'Pranav', 'Yuvraj', 'Dev', 'Nalini', 'Vivaan', 'Ritik', 'Bhavesh',
    # Thnh ph
    'Patna', 'Nagpur', 'Visakhapatnam', 'Familyvirar', 'Bhopal', 'Kalyan', 
    # Bng cp (Lt vo ct ngh)
    'B.Com', 'Be', 'Mba', 'Llm', 'Bca', 'Bba', 'Mbbs', 'B.Ed', 'M.Ed', 'Phd', 'Degree',
    # Rc khc
    'Unveil', 'Moderate', 'Null', 'Error', 'Academic', 'Profession', 'Working Professional'
]
# Bin rc thnh NaN  x l logic  bc sau
data_copy.loc[data_copy['Profession'].isin(garbage_values), 'Profession'] = np.nan

#IMPUTE
# Vi SINH VIN:
# Gn cng ngh l 'Student'
data_copy.loc[data_copy['Working Professional or Student'] == 'Student', 'Profession'] = 'Student'

#Vi NGI I LM 

# SA LI LOGIC: Ngi i lm m khai ngh l 'Student' -> Chuyn thnh 'Unspecified'
mask_worker_wrong_prof = (data_copy['Working Professional or Student'] == 'Working Professional') & \
                         (data_copy['Profession'] == 'Student')

print(f"-> Pht hin {mask_worker_wrong_prof.sum()} ngi i lm khai ngh l 'Student'. ang sa thnh 'Unspecified'...")
data_copy.loc[mask_worker_wrong_prof, 'Profession'] = 'Unspecified'

# IN THIU: Ngi i lm m  trng (NaN) -> Gn l 'Unspecified'
mask_worker = data_copy['Working Professional or Student'] == 'Working Professional'
mask_missing = data_copy['Profession'].isnull()
data_copy.loc[mask_worker & mask_missing, 'Profession'] = 'Unspecified'

#CHECK
print("\n--- KIM TRA LI ---")
# Check xem cn ng Working Professional no dnh ch Student khng
check_err = data_copy[(data_copy['Working Professional or Student'] == 'Working Professional') & 
                      (data_copy['Profession'] == 'Student')]
print(f"S lng li cn li: {len(check_err)}") # Phi l 0

print("--- TOP CC NGH NGHIP SAU KHI LM SCH ---")
print(data_copy['Profession'].value_counts().head(20))

-> Pht hin 4 ngi i lm khai ngh l 'Student'. ang sa thnh 'Unspecified'...

--- KIM TRA LI ---
S lng li cn li: 0
--- TOP CC NGH NGHIP SAU KHI LM SCH ---
Profession
Student                   33111
Teacher                   29244
Unspecified               10963
Content Writer             9184
Architect                  5154
Consultant                 4966
HR Manager                 4726
Pharmacist                 4589
Doctor                     3817
Business Analyst           3700
Chemist                    3500
Entrepreneur               3481
Financial Analyst          3414
Chef                       3383
Educational Consultant     3371
Data Scientist             2818
Researcher                 2722
Lawyer                     2619
Customer Support           2441
Marketing Manager          2303
Name: count, dtype: int64

In [50]:
import pandas as pd
import numpy as np

# Hm gom nhm ngh nghip (Phin bn gp Unspecified)
def group_profession_domain_final(val):
    val = str(val).lower().strip()
    
    # 1. NHM SINH VIN (Gi nguyn v y l i tng chnh)
    if val == 'student':
        return 'Student'
    
    # --- CC NHM NGNH C TH (Domain Specific) ---
    
    # 2. Education & Research
    if any(x in val for x in ['teacher', 'educational consultant', 'academic', 'researcher']):
        return 'Education/Research'

    # 3. Medical & Health
    if any(x in val for x in ['doctor', 'pharmacist', 'chemist', 'medical']):
        return 'Medical/Health'

    # 4. Tech & IT
    if any(x in val for x in ['data scientist', 'software engineer', 'developer', 'dev']):
        return 'Tech/IT'

    # 5. Business & Finance
    if any(x in val for x in ['manager', 'analyst', 'accountant', 'consultant', 
                              'entrepreneur', 'sales', 'marketing', 'investment banker']):
        return 'Business/Finance'

    # 6. Creative & Media
    if any(x in val for x in ['writer', 'designer', 'marketer', 'digital']):
        return 'Creative/Media'

    # 7. Engineering & Architecture
    if any(x in val for x in ['engineer', 'architect']):
        return 'Engineering/Architecture'

    # 8. Legal
    if any(x in val for x in ['lawyer', 'judge']):
        return 'Legal'

    # 9. Service & Operations
    if any(x in val for x in ['chef', 'pilot', 'support', 'travel', 'electrician', 'plumber']):
        return 'Service/Operations'

    # --- 10. NHM CN LI (GP CHUNG) 
    # Bao gm: 'Unspecified', 'nan', v cc ngh lt vt khng thuc cc nhm trn
    return 'Other Professions'

data_copy['Profession'] = data_copy['Profession'].apply(group_profession_domain_final)

# Kim tra kt qu
print("--- PHN PHI NGH NGHIP MI ( GP UNSPECIFIED) ---")
print(data_copy['Profession'].value_counts())

--- PHN PHI NGH NGHIP MI ( GP UNSPECIFIED) ---
Profession
Education/Research          35337
Student                     33111
Business/Finance            31749
Creative/Media              13907
Service/Operations          12031
Medical/Health              11907
Other Professions           10968
Engineering/Architecture     8242
Legal                        4649
Tech/IT                      4628
Name: count, dtype: int64

- CHECK

In [51]:
#kim tra xem  ct profession c ngi no thuc Working Professional m ngh nghip l Student khng
mask = (data_copy['Working Professional or Student'] == 'Working Professional') & (data_copy['Profession'] == 'Student')
data_copy[mask]

Empty DataFrame
Columns: [id, Name, Gender, Age, City, Working Professional or Student, Profession, Academic Pressure, Work Pressure, CGPA, Study Satisfaction, Job Satisfaction, Sleep Duration, Dietary Habits, Degree, Have you ever had suicidal thoughts ?, Work/Study Hours, Financial Stress, Family History of Mental Illness, Depression]
Index: []

In [52]:
data_copy.loc[mask, 'Profession'] = 'Unspecified'

- CGPA

In [53]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 166529 entries, 0 to 170699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     166529 non-null  int64
 1   Name                                   166529 non-null  object
 2   Gender                                 166529 non-null  object
 3   Age                                    166529 non-null  float64
 4   City                                   166529 non-null  object
 5   Working Professional or Student        166529 non-null  object
 6   Profession                             166529 non-null  object
 7   Academic Pressure                      33073 non-null   float64
 8   Work Pressure                          132734 non-null  float64
 9   CGPA                                   33056 non-null   float64
 10  Study Satisfaction                     33077 non-null   float64
 11  Job Satisfaction                       133272 non-null  float64
 12  Sleep Duration                         166529 non-null  category
 13  Dietary Habits                         165784 non-null  object
 14  Degree                                 166529 non-null  object
 15  Have you ever had suicidal thoughts ?  166529 non-null  object
 16  Work/Study Hours                       166529 non-null  float64
 17  Financial Stress                       165709 non-null  float64
 18  Family History of Mental Illness       166529 non-null  object
 19  Depression                             166529 non-null  int64
dtypes: category(1), float64(8), int64(2), object(9)
memory usage: 25.6+ MB

In [54]:
data4 = data.copy()  
data4['CGPA'] = pd.to_numeric(data4['CGPA'], errors='coerce')
#lc xem c bao nhiu dng c CGPA ln hn 10 v bao nhiu l ca Student, bao nhiu ca Working Professional
invalid_cgpa = data4[data4['CGPA'] > 10]
print(invalid_cgpa['Working Professional or Student'].value_counts())

Working Professional or Student
Working Professional    795
Student                 188
Name: count, dtype: int64

- CHUN HA LI QUY TC

In [55]:
# X l CGPA: Ch nhn 0-10. (100, -5 s thnh NaN)

data_copy.loc[(data_copy['CGPA'] < 0) | (data_copy['CGPA'] > 10), 'CGPA'] = np.nan

# --- X L OUTLIER AGE (HARD RULE) 
#p kiu s 
data_copy['Age'] = pd.to_numeric(data_copy['Age'], errors='coerce') #if C TEXT ->NaN

# Bin cc gi tr v l thnh NaN
# (Logic: Ngi i lm/Sinh vin th tui ch tm 10 n 90)
data_copy.loc[(data_copy['Age'] < 10) | (data_copy['Age'] > 90), 'Age'] = np.nan

print(f"S lng Age b li ( chuyn thnh NaN): {data_copy['Age'].isnull().sum()}")

S lng Age b li ( chuyn thnh NaN): 1310

- Chck tip

In [56]:
#kim tra xem c thng no l Working Professional m c CGPA > 0 
mask = (data_copy['Working Professional or Student'] == 'Working Professional') & (data_copy['CGPA'] > 0)
data_copy[mask]

Empty DataFrame
Columns: [id, Name, Gender, Age, City, Working Professional or Student, Profession, Academic Pressure, Work Pressure, CGPA, Study Satisfaction, Job Satisfaction, Sleep Duration, Dietary Habits, Degree, Have you ever had suicidal thoughts ?, Work/Study Hours, Financial Stress, Family History of Mental Illness, Depression]
Index: []

In [57]:
data_copy.isnull().sum().sort_values(ascending = False)

CGPA                                     133733
Academic Pressure                        133456
Study Satisfaction                       133452
Work Pressure                             33795
Job Satisfaction                          33257
Age                                        1310
Financial Stress                            820
Dietary Habits                              745
Gender                                        0
Name                                          0
id                                            0
Profession                                    0
Working Professional or Student               0
City                                          0
Degree                                        0
Sleep Duration                                0
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Family History of Mental Illness              0
Depression                                    0
dtype: int64

# Encode 2 ct Yes/No

In [58]:

# 1. Danh sch ct cn Encoding
binary_cols = ['Have you ever had suicidal thoughts ?', 'Family History of Mental Illness']

# 2. Thc hin vng lp x l
for col in binary_cols:
    # Bc A: Chun ha vn bn trc ( phng 'yes', 'YES', 'Yes '...)
    # Chuyn thnh chui -> Xa khong trng -> Vit hoa ch ci u
    data_copy[col] = data_copy[col].astype(str).str.strip().str.title()
    
    # Bc B: Map sang s (Yes=1, No=0)
    # Nhng gi tr l (khng phi Yes/No) s b bin thnh NaN
    data_copy[col] = data_copy[col].map({'Yes': 1, 'No': 0})

# 3. Kim tra kt qu
print("--- KT QU SAU KHI ENCODING YES/NO ---")
for col in binary_cols:
    print(f"Ct '{col}':")
    print(f" - Cc gi tr: {data_copy[col].unique()}")
    print(f" - S lng dng li (NaN): {data_copy[col].isnull().sum()}")

--- KT QU SAU KHI ENCODING YES/NO ---
Ct 'Have you ever had suicidal thoughts ?':
 - Cc gi tr: [0 1]
 - S lng dng li (NaN): 0
Ct 'Family History of Mental Illness':
 - Cc gi tr: [0 1]
 - S lng dng li (NaN): 0

- Kim tra ct aAge

In [59]:
data_copy['Age'].isnull().sum()

1310

In [60]:
data_copy['Age'].value_counts().sort_index()

Age
18.0    4535
19.0    3123
20.0    4180
21.0    3247
22.0    2468
23.0    3408
24.0    3993
25.0    3469
26.0    2478
27.0    3037
28.0    3927
29.0    3651
30.0    2228
31.0    2997
32.0    2108
33.0    3726
34.0    3041
35.0    3279
36.0    3187
37.0    3179
38.0    5363
39.0    3830
40.0    3585
41.0    3675
42.0    3959
43.0    4497
44.0    3809
45.0    4174
46.0    4820
47.0    4922
48.0    4352
49.0    5940
50.0    4012
51.0    4585
52.0    3048
53.0    5294
54.0    4596
55.0    3367
56.0    6160
57.0    5163
58.0    3463
59.0    4406
60.0    2938
Name: count, dtype: int64

- Encode Working Professional or Student  impute bng KNN

In [61]:
# Map th cng
role_map = {'Student': 0, 'Working Professional': 1}
data_copy['Working Professional or Student'] = data_copy['Working Professional or Student'].map(role_map)

print(" chuyn ct Role thnh s (0=Student, 1=Worker)")

 chuyn ct Role thnh s (0=Student, 1=Worker)

In [62]:
data_copy.isnull().sum()

id                                            0
Name                                          0
Gender                                        0
Age                                        1310
City                                          0
Working Professional or Student               0
Profession                                    0
Academic Pressure                        133456
Work Pressure                             33795
CGPA                                     133733
Study Satisfaction                       133452
Job Satisfaction                          33257
Sleep Duration                                0
Dietary Habits                              745
Degree                                        0
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                            820
Family History of Mental Illness              0
Depression                                    0
dtype: int64

In [63]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 166529 entries, 0 to 170699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     166529 non-null  int64
 1   Name                                   166529 non-null  object
 2   Gender                                 166529 non-null  object
 3   Age                                    165219 non-null  float64
 4   City                                   166529 non-null  object
 5   Working Professional or Student        166529 non-null  int64
 6   Profession                             166529 non-null  object
 7   Academic Pressure                      33073 non-null   float64
 8   Work Pressure                          132734 non-null  float64
 9   CGPA                                   32796 non-null   float64
 10  Study Satisfaction                     33077 non-null   float64
 11  Job Satisfaction                       133272 non-null  float64
 12  Sleep Duration                         166529 non-null  category
 13  Dietary Habits                         165784 non-null  object
 14  Degree                                 166529 non-null  object
 15  Have you ever had suicidal thoughts ?  166529 non-null  int64
 16  Work/Study Hours                       166529 non-null  float64
 17  Financial Stress                       165709 non-null  float64
 18  Family History of Mental Illness       166529 non-null  int64
 19  Depression                             166529 non-null  int64
dtypes: category(1), float64(8), int64(5), object(6)
memory usage: 25.6+ MB

In [64]:
# # Map Sleep Duration: (0: Thiu, 1: , 2: Nhiu)
# sleep_map = {'Less than or equal 6 hours': 0, '6-8 hours': 1, 'More than 8 hours': 2}

# data_copy['Sleep Duration'] = data_copy['Sleep Duration'].map(sleep_map)
# #CT NY  C X L MISSING BNG CCH DROP LC U -> KH CN NAN -> P KIU DC

# # Map Dietary Habits: (0: Km, 1: TB, 2: Tt)
# diet_map = {'Unhealthy': 0, 'Moderate': 1, 'Healthy': 2}
# data_copy['Dietary Habits'] = data_copy['Dietary Habits'].map(diet_map)
# #CT NY CHA C X L MISSING -> V DNG MODE -> CHA P KIU C

# # # 3. M HA DANH MC NH (One-Hot Encoding)
# # # Ch p dng cho Gender v Working Professional or Student v n t gi tr
# # cols_to_dummy = ['Gender', 'Working Professional or Student']
# # data_copy = pd.get_dummies(data_copy, columns=cols_to_dummy, drop_first=True)

In [65]:
# data_copy['Sleep Duration'] = data_copy['Sleep Duration'].astype(int)

## Split data

In [66]:
# 3. CHIA TRAIN / TEST (80-20)
from sklearn.model_selection import train_test_split
X = data_copy.drop(['Depression', 'id', 'Name'], axis=1, errors='ignore')
y = data_copy['Depression']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)
print(f"Kch thc Train: {X_train.shape}")
print(f"Kch thc Test: {X_test.shape}")

Kch thc Train: (133223, 17)
Kch thc Test: (33306, 17)

In [67]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133223 entries, 96258 to 103877
Data columns (total 17 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 133223 non-null  object
 1   Age                                    132175 non-null  float64
 2   City                                   133223 non-null  object
 3   Working Professional or Student        133223 non-null  int64
 4   Profession                             133223 non-null  object
 5   Academic Pressure                      26409 non-null   float64
 6   Work Pressure                          106240 non-null  float64
 7   CGPA                                   26178 non-null   float64
 8   Study Satisfaction                     26413 non-null   float64
 9   Job Satisfaction                       106664 non-null  float64
 10  Sleep Duration                         133223 non-null  category
 11  Dietary Habits                         132622 non-null  object
 12  Degree                                 133223 non-null  object
 13  Have you ever had suicidal thoughts ?  133223 non-null  int64
 14  Work/Study Hours                       133223 non-null  float64
 15  Financial Stress                       132571 non-null  float64
 16  Family History of Mental Illness       133223 non-null  int64
dtypes: category(1), float64(8), int64(3), object(5)
memory usage: 17.4+ MB

In [68]:
X_train.isnull().sum().sort_values(ascending = False)

CGPA                                     107045
Academic Pressure                        106814
Study Satisfaction                       106810
Work Pressure                             26983
Job Satisfaction                          26559
Age                                        1048
Financial Stress                            652
Dietary Habits                              601
Gender                                        0
Working Professional or Student               0
City                                          0
Profession                                    0
Sleep Duration                                0
Degree                                        0
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Family History of Mental Illness              0
dtype: int64

- Fill ct CGPA theo KNN

In [69]:
from sklearn.impute import KNNImputer
import pandas as pd
import numpy as np

def impute_cgpa_knn_workflow(train_df, test_df):
    print("--- BT U IMPUTE CGPA BNG KNN (THEO WORKFLOW BN YU CU) ---")
    
    # 1. XC NH CT V I TNG
    knn_cols = ['Academic Pressure', 'Study Satisfaction', 'Age', 'CGPA']
    
    role_col = 'Working Professional or Student' 

    # 2. P DNG HARD RULE (Ngi i lm -> 0)
    mask_worker_tr = train_df[role_col] == 1
    mask_worker_te = test_df[role_col] == 1
    
    train_df.loc[mask_worker_tr, 'CGPA'] = 0
    test_df.loc[mask_worker_te, 'CGPA'] = 0
    print("->  gn CGPA = 0 cho Working Professional.")

    # 3. CHY KNN CHO SINH VIN
    # Ch chy trn nhm Student (Role == 0)
    mask_student_tr = train_df[role_col] == 0
    mask_student_te = test_df[role_col] == 0
    
    print("-> ang tm hng xm (KNN)  in im cho Sinh vin...")
    
    imputer = KNNImputer(n_neighbors=5)
    
    # A. Fit trn train Student
    student_train_data = train_df.loc[mask_student_tr, knn_cols]
    imputed_train_data = imputer.fit_transform(student_train_data)
    
    # Gn ngc li vo Train (Ct CGPA l ct cui cng trong list knn_cols)
    cgpa_idx = knn_cols.index('CGPA') 
    train_df.loc[mask_student_tr, 'CGPA'] = imputed_train_data[:, cgpa_idx]
    
    # B. Tranform vo test ca SVien
    # (Dng quy lut  hc t Train  in cho Test)
    if mask_student_te.sum() > 0:
        student_test_data = test_df.loc[mask_student_te, knn_cols]
        imputed_test_data = imputer.transform(student_test_data)
        test_df.loc[mask_student_te, 'CGPA'] = imputed_test_data[:, cgpa_idx]

    # 4. CLIP 
    # m bo khng c im no < 0 hoc > 10
    train_df['CGPA'] = train_df['CGPA'].clip(0, 10)
    test_df['CGPA'] = test_df['CGPA'].clip(0, 10)
    
    #  Lm trn 2 ch s thp phn 
    train_df['CGPA'] = train_df['CGPA'].round(2)
    test_df['CGPA'] = test_df['CGPA'].round(2)

    return train_df, test_df

X_train, X_test = impute_cgpa_knn_workflow(X_train, X_test)

# Kim tra
print(X_train['CGPA'].describe())

--- BT U IMPUTE CGPA BNG KNN (THEO WORKFLOW BN YU CU) ---
->  gn CGPA = 0 cho Working Professional.
-> ang tm hng xm (KNN)  in im cho Sinh vin...
count    133223.000000
mean          1.519530
std           3.122066
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          10.000000
Name: CGPA, dtype: float64

In [70]:
X_train.isnull().sum()

Gender                                        0
Age                                        1048
City                                          0
Working Professional or Student               0
Profession                                    0
Academic Pressure                        106814
Work Pressure                             26983
CGPA                                          0
Study Satisfaction                       106810
Job Satisfaction                          26559
Sleep Duration                                0
Dietary Habits                              601
Degree                                        0
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                            652
Family History of Mental Illness              0
dtype: int64

- Fill Dietary

In [71]:
X_train['Dietary Habits'].value_counts()

Dietary Habits
Moderate     46787
Unhealthy    43727
Healthy      42108
Name: count, dtype: int64

In [72]:
#mode ca Dietary Habits
moded = X_train['Dietary Habits'].mode()
moded

0    Moderate
Name: Dietary Habits, dtype: object

In [73]:
def impute_dietary_mode(train_df, test_df):
    col_name = 'Dietary Habits'

    mode_val = train_df[col_name].mode()[0]
    
    print(f"Mode ca 'Dietary Habits' (Tnh trn Train): {mode_val}")
    
    #Fill train
    train_df[col_name] = train_df[col_name].fillna(mode_val)
    
    # Fill test
    test_df[col_name] = test_df[col_name].fillna(mode_val)
    
    return train_df, test_df

X_train, X_test = impute_dietary_mode(X_train, X_test)

print("\nKim tra NaN sau khi Fill:")
print(f"Train missing: {X_train['Dietary Habits'].isnull().sum()}")
print(f"Test missing: {X_test['Dietary Habits'].isnull().sum()}")

Mode ca 'Dietary Habits' (Tnh trn Train): Moderate

Kim tra NaN sau khi Fill:
Train missing: 0
Test missing: 0

In [74]:
X_train.isnull().sum()

Gender                                        0
Age                                        1048
City                                          0
Working Professional or Student               0
Profession                                    0
Academic Pressure                        106814
Work Pressure                             26983
CGPA                                          0
Study Satisfaction                       106810
Job Satisfaction                          26559
Sleep Duration                                0
Dietary Habits                                0
Degree                                        0
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                            652
Family History of Mental Illness              0
dtype: int64

- impute missing cho 4 ct lin quan n Student v Working Professional v c Financial Stress - sau khi  sa logic

In [75]:
from sklearn.impute import KNNImputer
import pandas as pd
import numpy as np

def impute_likert_knn_numeric_role_v2(train_df, test_df):
    
    # Cu hnh Role
    role_col = 'Working Professional or Student'
    worker_val = 1
    student_val = 0

    imputer = KNNImputer(n_neighbors=5)

    # X L CHO SINH VIN (Student)
    student_features = ['Age', 'CGPA', 'Academic Pressure', 'Study Satisfaction', 'Financial Stress']
    student_targets = ['Academic Pressure', 'Study Satisfaction', 'Financial Stress']
    
    mask_student_tr = train_df[role_col] == student_val
    mask_student_te = test_df[role_col] == student_val
    
    print(f"-> ang x l nhm Student (Role={student_val})...")
    
    if mask_student_tr.sum() > 0:
        data_tr = train_df.loc[mask_student_tr, student_features].copy()
        imputed_tr = imputer.fit_transform(data_tr)
        
        # Gn li (Cn gn Financial Stress nu n b thiu)
        for col in student_targets:
            idx = student_features.index(col)
            train_df.loc[mask_student_tr, col] = imputed_tr[:, idx]
            
        if mask_student_te.sum() > 0:
            data_te = test_df.loc[mask_student_te, student_features].copy()
            imputed_te = imputer.transform(data_te)
            for col in student_targets:
                idx = student_features.index(col)
                test_df.loc[mask_student_te, col] = imputed_te[:, idx]

    # Gn 0 cho Work (Hard Rule)
    train_df.loc[mask_student_tr, ['Work Pressure', 'Job Satisfaction']] = 0
    test_df.loc[mask_student_te, ['Work Pressure', 'Job Satisfaction']] = 0


    # 2. X L CHO NGI I LM (Working Pro)
    worker_features = ['Age', 'Work Pressure', 'Job Satisfaction', 'Financial Stress']
    worker_targets = ['Work Pressure', 'Job Satisfaction', 'Financial Stress']
    
    mask_worker_tr = train_df[role_col] == worker_val
    mask_worker_te = test_df[role_col] == worker_val
    
    print(f"-> ang x l nhm Worker (Role={worker_val})...")
    
    if mask_worker_tr.sum() > 0:
        data_tr = train_df.loc[mask_worker_tr, worker_features].copy()
        imputed_tr = imputer.fit_transform(data_tr)
        
        for col in worker_targets:
            idx = worker_features.index(col)
            train_df.loc[mask_worker_tr, col] = imputed_tr[:, idx]
            
        if mask_worker_te.sum() > 0:
            data_te = test_df.loc[mask_worker_te, worker_features].copy()
            imputed_te = imputer.transform(data_te)
            for col in worker_targets:
                idx = worker_features.index(col)
                test_df.loc[mask_worker_te, col] = imputed_te[:, idx]

    # Gn 0 cho Academic (Hard Rule)
    cols_zero = ['Academic Pressure', 'Study Satisfaction', 'CGPA']
    train_df.loc[mask_worker_tr, cols_zero] = 0
    test_df.loc[mask_worker_te, cols_zero] = 0

    # 3. HU X L (ROUND & CLIP)
    all_likert = ['Academic Pressure', 'Study Satisfaction', 'Work Pressure', 'Job Satisfaction', 'Financial Stress']
    
    for col in all_likert:
        train_df[col] = train_df[col].round().clip(0, 5) # Clip 0-5 an ton, d Financial Stress min l 1
        test_df[col] = test_df[col].round().clip(0, 5)

    print(" KNN Impute cho tt c Likert + Financial Stress!")
    return train_df, test_df

# P DNG
X_train, X_test = impute_likert_knn_numeric_role_v2(X_train, X_test)

# Kim tra
print("\nCheck missing (bao gm Financial Stress):")
print(X_train[['Academic Pressure', 'Work Pressure', 'Financial Stress']].isnull().sum())

-> ang x l nhm Student (Role=0)...
-> ang x l nhm Worker (Role=1)...
 KNN Impute cho tt c Likert + Financial Stress!

Check missing (bao gm Financial Stress):
Academic Pressure    0
Work Pressure        0
Financial Stress     0
dtype: int64

In [76]:
X_train.isnull().sum().sort_values(ascending = False)

Age                                      1048
Gender                                      0
City                                        0
Working Professional or Student             0
Profession                                  0
Academic Pressure                           0
Work Pressure                               0
CGPA                                        0
Study Satisfaction                          0
Job Satisfaction                            0
Sleep Duration                              0
Dietary Habits                              0
Degree                                      0
Have you ever had suicidal thoughts ?       0
Work/Study Hours                            0
Financial Stress                            0
Family History of Mental Illness            0
dtype: int64

- X l Age -> do mnh  bin my gi gtr v l thnh NaN v d 100 tui

- KNN impute cho Age

In [77]:
from sklearn.impute import KNNImputer
import pandas as pd
import numpy as np

def impute_age_knn(train_df, test_df):
    print("--- BT U IMPUTE CT AGE BNG KNN ---")
    
    role_col = 'Working Professional or Student'
    worker_val = 1
    student_val = 0
    
    imputer = KNNImputer(n_neighbors=5)
    
    # 1. X L CHO SINH VIN (Student)
    # Dng cc c im ca sinh vin  on tui
    student_features = ['CGPA', 'Academic Pressure', 'Study Satisfaction', 'Financial Stress', 'Age']
    
    mask_student_tr = train_df[role_col] == student_val
    mask_student_te = test_df[role_col] == student_val
    
    print(f"-> ang chy KNN d on Tui cho Student...")
    
    if mask_student_tr.sum() > 0:
        data_tr = train_df.loc[mask_student_tr, student_features].copy()
        
        # Fit & Transform trn Train
        imputed_tr = imputer.fit_transform(data_tr)
        
        # Gn li ct Age
        age_idx = student_features.index('Age')
        train_df.loc[mask_student_tr, 'Age'] = imputed_tr[:, age_idx]
        
        # Transform trn Test
        if mask_student_te.sum() > 0:
            data_te = test_df.loc[mask_student_te, student_features].copy()
            imputed_te = imputer.transform(data_te)
            test_df.loc[mask_student_te, 'Age'] = imputed_te[:, age_idx]

    # 2. X L CHO NGI I LM (Worker)
    # Dng c im ngi i lm  on tui
    worker_features = ['Work Pressure', 'Job Satisfaction', 'Financial Stress', 'Age']
    
    mask_worker_tr = train_df[role_col] == worker_val
    mask_worker_te = test_df[role_col] == worker_val
    
    print(f"-> ang chy KNN d on Tui cho Worker...")
    
    if mask_worker_tr.sum() > 0:
        data_tr = train_df.loc[mask_worker_tr, worker_features].copy()
        imputed_tr = imputer.fit_transform(data_tr)
        
        age_idx = worker_features.index('Age')
        train_df.loc[mask_worker_tr, 'Age'] = imputed_tr[:, age_idx]
        
        if mask_worker_te.sum() > 0:
            data_te = test_df.loc[mask_worker_te, worker_features].copy()
            imputed_te = imputer.transform(data_te)
            test_df.loc[mask_worker_te, 'Age'] = imputed_te[:, age_idx]

    # 3. HU X L (ROUND & CLIP)
    # Tui phi l s nguyn v nm trong khong hp l (10-90)
    for df in [train_df, test_df]:
        df['Age'] = df['Age'].round().clip(10, 90).astype(int)

    print(" KNN Impute cho ct Age!")
    return train_df, test_df

# P DNG
X_train, X_test = impute_age_knn(X_train, X_test)

# Kim tra kt qu
print("\nKim tra missing Age:")
print(f"Train: {X_train['Age'].isnull().sum()}")
print(f"Test: {X_test['Age'].isnull().sum()}")

--- BT U IMPUTE CT AGE BNG KNN ---
-> ang chy KNN d on Tui cho Student...
-> ang chy KNN d on Tui cho Worker...
 KNN Impute cho ct Age!

Kim tra missing Age:
Train: 0
Test: 0

In [78]:
X_test.isnull().sum().sort_values(ascending = False)

Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
dtype: int64

## Outliers

In [79]:
X_train['Work/Study Hours'].value_counts()

Work/Study Hours
 10.0     13364
 11.0     12078
 9.0      11917
 0.0      11342
 12.0     10741
 2.0       9998
 6.0       9819
 7.0       9185
 1.0       9145
 3.0       8933
 5.0       8819
 4.0       8528
 8.0       8306
-10.0       273
 100.0      265
 25.0       264
 48.0       246
Name: count, dtype: int64

In [80]:
def handle_outliers_iqr(train_df, test_df, col):    
    train_df[col] = pd.to_numeric(train_df[col], errors='coerce')
    test_df[col] = pd.to_numeric(test_df[col], errors='coerce')

    # TNH TON THNG S TRN TP TRAIN
    data_train = train_df[col].dropna()
    Q1 = data_train.quantile(0.25)
    Q3 = data_train.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Tnh Median ca tp Train ( thay th)- v data lch
    median_val = data_train.median()
    
    print(f"  - Q1: {Q1} | Q3: {Q3} | IQR: {IQR}")
    print(f"  - Khong an ton (Train): [{lower_bound:.2f}, {upper_bound:.2f}]")
    print(f"  - Gi tr thay th (Median): {median_val}")

    # THAY TH OUTLIER (P DNG CHO C TRAIN V TEST)
    # Nguyn tc: Dng ngng v median ca Train  sa Test
    
    # Hm con  thay th
    def replace_outliers(df, lb, ub, fill_val):
        n_outliers = ((df[col] < lb) | (df[col] > ub)).sum()
        
        # Thay th
        df.loc[(df[col] < lb) | (df[col] > ub), col] = fill_val
        return n_outliers

    count_tr = replace_outliers(train_df, lower_bound, upper_bound, median_val)
    count_te = replace_outliers(test_df, lower_bound, upper_bound, median_val)

    
    return train_df, test_df
X_train, X_test = handle_outliers_iqr(X_train, X_test, 'Work/Study Hours')

print("\nThng k sau khi x l (Train):")
print(X_train['Work/Study Hours'].describe())

  - Q1: 3.0 | Q3: 10.0 | IQR: 7.0
  - Khong an ton (Train): [-7.50, 20.50]
  - Gi tr thay th (Median): 6.0

Thng k sau khi x l (Train):
count    133223.000000
mean          6.250685
std           3.839545
min           0.000000
25%           3.000000
50%           6.000000
75%          10.000000
max          12.000000
Name: Work/Study Hours, dtype: float64

In [81]:
X_train['Work/Study Hours'].value_counts().sort_index()

Work/Study Hours
0.0     11342
1.0      9145
2.0      9998
3.0      8933
4.0      8528
5.0      8819
6.0     10867
7.0      9185
8.0      8306
9.0     11917
10.0    13364
11.0    12078
12.0    10741
Name: count, dtype: int64

In [82]:
#in value counts ca ton b ct trong X_train  kim tra ln cui
for col in X_train.columns:
    print(f"--- CT: {col} ---")
    print(X_train[col].value_counts(dropna=False))
    print()

--- CT: Gender ---
Gender
Male      73057
Female    59702
Other       464
Name: count, dtype: int64

--- CT: Age ---
Age
56    4927
49    4816
38    4375
53    4267
57    4132
47    4046
46    3890
54    3679
51    3677
43    3647
18    3626
48    3535
59    3493
45    3413
20    3332
42    3296
50    3273
24    3217
28    3166
44    3134
39    3118
33    3013
41    2950
29    2919
40    2879
25    2799
23    2784
58    2770
55    2722
35    2642
21    2608
37    2551
36    2549
19    2454
52    2448
27    2437
34    2431
31    2423
60    2342
26    2025
22    1965
30    1768
32    1685
Name: count, dtype: int64

--- CT: City ---
City
Kalyan           6294
Patna            5616
Vasai-Virar      5439
Kolkata          5367
Ahmedabad        5348
Meerut           5228
Ludhiana         4948
Visakhapatnam    4946
Rajkot           4933
Pune             4891
Srinagar         4816
Mumbai           4653
Indore           4622
Agra             4420
Surat            4403
Vadodara         4358
Varanasi         4345
Hyderabad        4229
Jaipur           4135
Kanpur           4119
Thane            4089
Lucknow          4048
Nagpur           4000
Bangalore        3942
Chennai          3822
Ghaziabad        3454
Delhi            3369
Bhopal           3343
Faridabad        3101
Nashik           2945
Name: count, dtype: int64

--- CT: Working Professional or Student ---
Working Professional or Student
1    106782
0     26441
Name: count, dtype: int64

--- CT: Profession ---
Profession
Education/Research          28209
Student                     26441
Business/Finance            25482
Creative/Media              11158
Service/Operations           9626
Medical/Health               9589
Other Professions            8741
Engineering/Architecture     6611
Tech/IT                      3686
Legal                        3680
Name: count, dtype: int64

--- CT: Academic Pressure ---
Academic Pressure
0.0    106782
3.0      7055
5.0      5955
4.0      4953
1.0      4537
2.0      3941
Name: count, dtype: int64

--- CT: Work Pressure ---
Work Pressure
0.0    26441
2.0    23060
4.0    21357
5.0    21034
3.0    20942
1.0    20389
Name: count, dtype: int64

--- CT: CGPA ---
CGPA
0.00     106782
8.04        759
9.96        399
5.74        386
8.95        339
7.25        322
7.09        312
9.21        310
7.88        297
9.44        296
8.74        255
8.91        253
7.77        250
9.72        246
5.64        241
9.93        241
7.10        235
9.39        231
6.99        223
7.53        219
6.37        217
6.78        211
8.59        208
6.16        207
7.94        206
9.24        205
5.85        203
8.58        196
5.16        194
5.88        191
8.17        188
5.32        185
8.24        174
5.56        163
6.10        162
5.12        159
8.14        158
5.37        153
9.56        153
8.90        152
9.63        151
5.57        151
9.41        149
6.89        148
6.00        148
9.86        144
9.71        143
8.73        139
5.82        136
8.62        134
6.25        133
8.54        132
8.44        131
9.79        131
6.75        131
9.95        130
9.89        130
9.84        130
9.60        129
8.09        127
6.21        127
7.04        126
6.83        125
9.97        123
8.96        123
7.47        121
8.70        120
5.75        120
9.67        120
9.91        119
7.48        119
9.54        117
7.22        116
7.85        116
5.76        115
7.51        114
7.52        114
5.86        113
9.88        112
8.52        112
6.03        111
9.74        111
6.27        109
5.66        109
7.92        108
9.11        107
5.99        107
7.15        106
5.27        106
7.80        105
8.50        105
5.42        105
7.21        104
6.47        104
7.38        104
6.02        103
6.38        103
5.79        102
9.19        102
6.17        102
5.11        101
7.08        101
5.70         99
9.05         99
6.08         95
6.51         95
5.58         95
7.50         94
5.60         94
7.64         93
5.08         92
8.28         92
7.83         89
7.13         89
8.46         89
7.70         88
8.81         88
7.72         88
8.21         87
7.39         86
7.02         81
9.04         81
5.59         80
7.28         80
6.41         79
9.50         77
8.69         75
8.08         75
9.94         74
5.46         73
5.51         71
5.10         71
8.35         68
5.67         67
9.98         66
8.00         66
9.92         61
6.81         61
7.37         60
7.49         60
5.87         59
6.88         58
8.97         57
6.86         57
6.42         57
8.78         57
8.47         56
9.37         55
7.82         55
8.53         55
9.87         55
7.68         54
8.27         54
8.25         54
8.92         54
7.24         53
9.42         53
7.30         53
8.93         52
9.10         51
6.39         51
9.33         51
7.91         51
5.68         50
9.43         50
5.89         50
6.61         50
8.89         49
7.74         49
7.14         49
8.39         48
9.03         48
10.00        48
8.63         48
5.81         47
5.83         47
8.13         46
5.41         46
5.26         46
8.56         46
7.03         46
6.79         46
9.06         46
8.88         45
5.65         45
7.90         45
7.46         45
5.71         45
9.66         45
5.77         45
8.23         45
7.75         44
5.61         44
6.36         44
6.29         44
8.79         44
8.83         43
6.69         43
6.28         43
6.04         43
6.92         42
9.69         42
6.74         41
8.98         41
7.71         41
8.07         41
5.84         41
7.61         40
8.03         40
9.46         40
9.13         40
8.65         40
6.65         39
6.73         39
5.38         38
8.61         38
9.26         38
6.82         38
9.49         37
6.26         37
7.87         37
5.48         37
8.11         37
8.77         36
6.53         36
6.63         36
7.11         36
8.29         35
8.71         35
7.27         35
6.70         35
7.43         35
6.91         35
5.47         35
9.40         34
6.56         34
8.38         34
5.52         34
7.32         34
5.55         34
8.64         34
8.94         33
9.85         33
5.45         33
6.23         33
7.60         33
6.95         33
9.36         33
7.35         33
9.25         33
8.42         32
5.98         32
9.31         32
7.07         31
9.02         31
5.80         31
8.37         31
7.99         31
9.78         30
9.59         30
6.84         30
5.72         30
9.34         30
7.26         29
6.76         29
5.25         29
8.75         28
8.32         28
7.17         28
5.97         28
8.43         27
5.39         27
7.06         27
5.90         27
5.24         27
9.70         27
6.52         26
5.91         26
5.69         25
6.33         25
9.17         25
6.05         24
9.90         24
7.34         24
6.85         23
9.16         23
7.45         23
6.50         23
9.29         21
9.01         21
6.35         20
7.12         20
6.59         20
5.09         20
8.49         20
5.44         18
8.19         18
9.12         18
5.35         17
5.14         17
8.85         17
5.30         17
9.82         17
8.10         17
9.47         16
7.00         16
5.17         15
8.01         15
8.40         15
6.19         15
8.55         14
7.79         14
5.03         14
5.06         13
7.18         12
8.16         12
6.46         11
7.56         10
8.15         10
8.41          9
8.72          8
7.36          7
7.63          6
7.78          6
6.71          6
5.78          4
7.73          4
7.65          3
6.32          3
6.09          2
6.44          2
6.06          2
7.33          2
7.69          2
6.24          2
8.51          2
7.59          2
8.02          2
7.40          1
7.81          1
7.31          1
6.77          1
8.66          1
8.12          1
6.98          1
8.26          1
7.84          1
8.06          1
6.64          1
7.23          1
7.42          1
6.94          1
8.31          1
7.29          1
Name: count, dtype: int64

--- CT: Study Satisfaction ---
Study Satisfaction
0.0    106782
4.0      6011
3.0      5547
2.0      5509
1.0      5223
5.0      4151
Name: count, dtype: int64

--- CT: Job Satisfaction ---
Job Satisfaction
0.0    26441
2.0    23376
5.0    21514
1.0    21175
3.0    20888
4.0    19829
Name: count, dtype: int64

--- CT: Sleep Duration ---
Sleep Duration
Less than or equal 6 hours    67519
6-8 hours                     34885
More than 8 hours             30819
Name: count, dtype: int64

--- CT: Dietary Habits ---
Dietary Habits
Moderate     47388
Unhealthy    43727
Healthy      42108
Name: count, dtype: int64

--- CT: Degree ---
Degree
Bachelor       64101
Master         52048
High School    14241
Doctorate       2833
Name: count, dtype: int64

--- CT: Have you ever had suicidal thoughts ? ---
Have you ever had suicidal thoughts ?
0    67274
1    65949
Name: count, dtype: int64

--- CT: Work/Study Hours ---
Work/Study Hours
10.0    13364
11.0    12078
9.0     11917
0.0     11342
6.0     10867
12.0    10741
2.0      9998
7.0      9185
1.0      9145
3.0      8933
5.0      8819
4.0      8528
8.0      8306
Name: count, dtype: int64

--- CT: Financial Stress ---
Financial Stress
2.0    29821
5.0    26629
4.0    26237
1.0    25700
3.0    24836
Name: count, dtype: int64

--- CT: Family History of Mental Illness ---
Family History of Mental Illness
0    67108
1    66115
Name: count, dtype: int64

In [83]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133223 entries, 96258 to 103877
Data columns (total 17 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 133223 non-null  object
 1   Age                                    133223 non-null  int64
 2   City                                   133223 non-null  object
 3   Working Professional or Student        133223 non-null  int64
 4   Profession                             133223 non-null  object
 5   Academic Pressure                      133223 non-null  float64
 6   Work Pressure                          133223 non-null  float64
 7   CGPA                                   133223 non-null  float64
 8   Study Satisfaction                     133223 non-null  float64
 9   Job Satisfaction                       133223 non-null  float64
 10  Sleep Duration                         133223 non-null  category
 11  Dietary Habits                         133223 non-null  object
 12  Degree                                 133223 non-null  object
 13  Have you ever had suicidal thoughts ?  133223 non-null  int64
 14  Work/Study Hours                       133223 non-null  float64
 15  Financial Stress                       133223 non-null  float64
 16  Family History of Mental Illness       133223 non-null  int64
dtypes: category(1), float64(7), int64(4), object(5)
memory usage: 17.4+ MB

In [84]:
X_train.isnull().sum()

Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
dtype: int64

In [85]:
def reverse_role_to_text(df):
    col_name = 'Working Professional or Student'
    if col_name in df.columns:
        # Map ngc: 1 -> Worker, 0 -> Student
        reverse_map = {
            1: 'Working Professional',
            0: 'Student',
        }
        df[col_name] = df[col_name].map(reverse_map)
        print(f"->  chuyn")
    else:
        print(f"Khng tm thy ct")
    return df

X_train = reverse_role_to_text(X_train)
X_test = reverse_role_to_text(X_test)

print("\nKim tra li gi tr ct Role trn tp Train:")
print(X_train['Working Professional or Student'].value_counts())

->  chuyn
->  chuyn

Kim tra li gi tr ct Role trn tp Train:
Working Professional or Student
Working Professional    106782
Student                  26441
Name: count, dtype: int64

In [86]:
#PHN LU DATA KHNG C ENCODE, DNG CHO EDA
# 1. Gp X v y  to b data sch hon chnh (Full Clean Dataset)
train_full_v2 = X_train.copy()
train_full_v2['Depression'] = y_train

test_full_v2 = X_test.copy()
test_full_v2['Depression'] = y_test

# Gp li
clean_dataset_v2 = pd.concat([train_full_v2, test_full_v2], axis=0)
clean_dataset_v2 = clean_dataset_v2.reset_index(drop=True)

# Kim tra
print(f"Kch thc b d liu sch (Clean Dataset V2): {clean_dataset_v2.shape}")
print("Xem th 5 dng u:")
print(clean_dataset_v2.head())

# 2. Lu ra file vi tn mi (_v2)
clean_dataset_v2.to_csv("clean_depression_dataset_for_eda.csv", index=False)

X_train.to_csv("X_train_v2.csv", index=False)
X_test.to_csv("X_test_v2.csv", index=False)
y_train.to_csv("y_train_v2.csv", index=False)
y_test.to_csv("y_test_v2.csv", index=False)

Kch thc b d liu sch (Clean Dataset V2): (166529, 18)
Xem th 5 dng u:
   Gender  Age       City Working Professional or Student          Profession  \
0  Female   46  Ghaziabad            Working Professional  Education/Research
1    Male   58     Jaipur            Working Professional  Service/Operations
2  Female   29  Bangalore            Working Professional    Business/Finance
3    Male   39     Nagpur            Working Professional  Education/Research
4    Male   49    Kolkata            Working Professional    Business/Finance

   Academic Pressure  Work Pressure  CGPA  Study Satisfaction  \
0                0.0            1.0   0.0                 0.0
1                0.0            2.0   0.0                 0.0
2                0.0            1.0   0.0                 0.0
3                0.0            1.0   0.0                 0.0
4                0.0            5.0   0.0                 0.0

   Job Satisfaction              Sleep Duration Dietary Habits    Degree  \
0               4.0                   6-8 hours        Healthy  Bachelor
1               5.0           More than 8 hours      Unhealthy  Bachelor
2               4.0           More than 8 hours        Healthy    Master
3               1.0  Less than or equal 6 hours       Moderate    Master
4               3.0  Less than or equal 6 hours       Moderate  Bachelor

   Have you ever had suicidal thoughts ?  Work/Study Hours  Financial Stress  \
0                                      1               9.0               5.0
1                                      1               1.0               5.0
2                                      0               6.0               4.0
3                                      0               7.0               1.0
4                                      0               9.0               5.0

   Family History of Mental Illness  Depression
0                                 1           0
1                                 1           0
2                                 1           0
3                                 0           0
4                                 1           0

In [87]:
# #X L DATA BAN U, C PHN ENCODE


# # 1. Gp X_train, X_test, y_train, y_test thnh 1 b Data sch hon chnh

# # Gn li y vo X  c full data
# train_full = X_train.copy()
# train_full['Depression'] = y_train

# test_full = X_test.copy()
# test_full['Depression'] = y_test

# # Gp Train v Test li
# clean_dataset = pd.concat([train_full, test_full], axis=0)

# # Sp xp li index cho p
# clean_dataset = clean_dataset.reset_index(drop=True)

# print(f"Kch thc b d liu sch (Clean Dataset): {clean_dataset.shape}")
# print("Xem th 5 dng u:")
# print(clean_dataset.head())

# # Lu b data sch tng hp (Dng  EDA)
# clean_dataset.to_csv("clean_depression_dataset.csv", index=False)

# X_train.to_csv("X_train.csv", index=False)
# X_test.to_csv("X_test.csv", index=False)
# y_train.to_csv("y_train.csv", index=False)
# y_test.to_csv("y_test.csv", index=False)

In [88]:
# clean_dataset.isnull().sum()

In [89]:
mask = (clean_dataset_v2['Working Professional or Student'] == 'Working Professional') & (clean_dataset_v2['Profession'] == 'Student')
clean_dataset_v2[mask]

Empty DataFrame
Columns: [Gender, Age, City, Working Professional or Student, Profession, Academic Pressure, Work Pressure, CGPA, Study Satisfaction, Job Satisfaction, Sleep Duration, Dietary Habits, Degree, Have you ever had suicidal thoughts ?, Work/Study Hours, Financial Stress, Family History of Mental Illness, Depression]
Index: []

In [90]:
clean_dataset_v2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166529 entries, 0 to 166528
Data columns (total 18 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 166529 non-null  object
 1   Age                                    166529 non-null  int64
 2   City                                   166529 non-null  object
 3   Working Professional or Student        166529 non-null  object
 4   Profession                             166529 non-null  object
 5   Academic Pressure                      166529 non-null  float64
 6   Work Pressure                          166529 non-null  float64
 7   CGPA                                   166529 non-null  float64
 8   Study Satisfaction                     166529 non-null  float64
 9   Job Satisfaction                       166529 non-null  float64
 10  Sleep Duration                         166529 non-null  category
 11  Dietary Habits                         166529 non-null  object
 12  Degree                                 166529 non-null  object
 13  Have you ever had suicidal thoughts ?  166529 non-null  int64
 14  Work/Study Hours                       166529 non-null  float64
 15  Financial Stress                       166529 non-null  float64
 16  Family History of Mental Illness       166529 non-null  int64
 17  Depression                             166529 non-null  int64
dtypes: category(1), float64(7), int64(4), object(6)
memory usage: 21.8+ MB

In [91]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 166529 entries, 0 to 170699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     166529 non-null  int64
 1   Name                                   166529 non-null  object
 2   Gender                                 166529 non-null  object
 3   Age                                    165219 non-null  float64
 4   City                                   166529 non-null  object
 5   Working Professional or Student        166529 non-null  int64
 6   Profession                             166529 non-null  object
 7   Academic Pressure                      33073 non-null   float64
 8   Work Pressure                          132734 non-null  float64
 9   CGPA                                   32796 non-null   float64
 10  Study Satisfaction                     33077 non-null   float64
 11  Job Satisfaction                       133272 non-null  float64
 12  Sleep Duration                         166529 non-null  category
 13  Dietary Habits                         165784 non-null  object
 14  Degree                                 166529 non-null  object
 15  Have you ever had suicidal thoughts ?  166529 non-null  int64
 16  Work/Study Hours                       166529 non-null  float64
 17  Financial Stress                       165709 non-null  float64
 18  Family History of Mental Illness       166529 non-null  int64
 19  Depression                             166529 non-null  int64
dtypes: category(1), float64(8), int64(5), object(6)
memory usage: 25.6+ MB

In [92]:
# clean_dataset_v2.info()  # Y L TN FILE CHO PHN EDA, Nu KHNG CHY C V CHA GI RA
# #, FILE CSV CHO EDA l clean_depression_dataset_for_eda.csv

In [93]:
#kim tra li xem  ct profession c ngi no thuc Working Professional m ngh nghip l Student khng
mask = (data_copy['Working Professional or Student'] == 'Working Professional') & (data_copy['Profession'] == 'Student')
data_copy[mask]

Empty DataFrame
Columns: [id, Name, Gender, Age, City, Working Professional or Student, Profession, Academic Pressure, Work Pressure, CGPA, Study Satisfaction, Job Satisfaction, Sleep Duration, Dietary Habits, Degree, Have you ever had suicidal thoughts ?, Work/Study Hours, Financial Stress, Family History of Mental Illness, Depression]
Index: []

In [94]:
for col in clean_dataset_v2.columns:
    print(f"--- CT: {col} ---")
    print(clean_dataset_v2[col].value_counts(dropna=False))
    print()

--- CT: Gender ---
Gender
Male      91354
Female    74595
Other       580
Name: count, dtype: int64

--- CT: Age ---
Age
56    6167
49    5963
38    5386
53    5307
57    5163
47    5033
46    4917
51    4633
54    4604
43    4575
18    4535
59    4406
48    4382
45    4270
20    4182
50    4069
24    4030
42    4024
28    3954
39    3904
44    3889
33    3733
41    3724
29    3668
40    3642
25    3521
58    3463
23    3442
55    3378
35    3303
21    3253
37    3216
36    3187
19    3123
52    3082
27    3066
34    3041
31    3015
60    2938
26    2514
22    2478
30    2241
32    2108
Name: count, dtype: int64

--- CT: City ---
City
Kalyan           7885
Patna            6994
Vasai-Virar      6785
Kolkata          6698
Ahmedabad        6682
Meerut           6581
Rajkot           6203
Ludhiana         6184
Visakhapatnam    6173
Pune             6158
Srinagar         5970
Mumbai           5853
Indore           5744
Agra             5534
Surat            5522
Varanasi         5430
Vadodara         5413
Hyderabad        5303
Kanpur           5209
Jaipur           5145
Thane            5079
Lucknow          5044
Nagpur           4939
Bangalore        4893
Chennai          4774
Ghaziabad        4304
Delhi            4254
Bhopal           4158
Faridabad        3893
Nashik           3725
Name: count, dtype: int64

--- CT: Working Professional or Student ---
Working Professional or Student
Working Professional    133418
Student                  33111
Name: count, dtype: int64

--- CT: Profession ---
Profession
Education/Research          35337
Student                     33111
Business/Finance            31749
Creative/Media              13907
Service/Operations          12031
Medical/Health              11907
Other Professions           10968
Engineering/Architecture     8242
Legal                        4649
Tech/IT                      4628
Name: count, dtype: int64

--- CT: Academic Pressure ---
Academic Pressure
0.0    133418
3.0      8847
5.0      7436
4.0      6157
1.0      5683
2.0      4988
Name: count, dtype: int64

--- CT: Work Pressure ---
Work Pressure
0.0    33111
2.0    28770
4.0    26632
5.0    26352
3.0    26238
1.0    25426
Name: count, dtype: int64

--- CT: CGPA ---
CGPA
0.00     133418
8.04        963
9.96        505
5.74        474
8.95        426
9.21        402
7.25        399
7.09        387
7.88        378
9.44        369
7.77        327
8.74        325
8.91        319
9.93        312
9.72        301
5.64        300
7.10        300
9.39        290
6.99        290
6.37        277
6.78        272
7.53        271
7.94        267
9.24        263
8.59        262
6.16        260
5.88        251
5.85        249
8.58        241
8.17        240
5.16        239
5.32        234
8.24        227
5.56        208
6.10        202
8.14        197
9.56        196
5.12        196
5.37        190
8.90        188
5.57        186
9.63        185
9.41        184
6.00        183
9.71        182
6.89        181
6.25        172
8.73        172
9.89        171
8.44        167
9.79        167
7.04        166
9.86        166
6.83        165
8.96        165
5.82        164
9.60        164
9.97        163
6.75        163
8.62        163
8.70        157
8.54        157
7.47        156
9.95        155
8.09        155
5.76        154
7.22        153
9.67        153
5.75        151
9.84        149
7.52        149
7.85        148
6.21        147
9.91        146
5.86        146
7.51        146
7.48        143
9.54        143
8.52        141
9.74        140
9.88        139
5.66        139
7.92        138
6.27        137
6.38        137
5.27        136
8.50        136
5.79        135
7.15        135
5.99        132
5.11        132
7.80        131
7.38        130
6.02        130
6.47        129
9.19        129
9.11        129
5.42        129
6.03        128
6.17        128
7.21        125
9.05        125
7.64        124
5.70        119
6.08        118
7.08        117
5.08        116
8.46        114
7.13        113
5.58        112
5.60        112
7.83        111
8.81        111
8.28        110
6.51        110
7.39        109
7.72        109
7.50        109
8.21        107
7.70        107
8.69        105
6.41        101
9.50        100
5.59        100
7.02         99
8.08         99
9.04         98
7.28         97
8.35         93
5.51         93
5.46         86
9.94         85
8.00         82
5.87         82
5.67         80
5.10         79
7.37         78
9.98         78
8.92         77
8.97         72
6.88         71
8.47         71
9.87         71
9.92         71
6.86         70
7.24         70
8.53         70
6.81         69
7.49         68
8.78         68
7.68         68
6.42         68
9.42         67
8.25         66
9.33         65
10.00        64
9.37         64
5.68         64
8.27         64
7.30         63
9.43         63
7.03         63
6.39         63
5.89         62
8.93         62
7.91         62
6.29         61
8.79         61
5.77         61
8.89         61
6.61         61
8.13         60
7.74         60
7.90         60
7.82         59
8.39         59
5.83         59
5.61         59
7.46         59
9.10         59
5.65         58
9.66         58
8.63         57
6.79         57
7.75         57
6.04         57
9.69         56
5.41         56
9.03         55
8.56         54
6.73         54
7.14         54
8.88         54
5.81         54
8.23         53
5.38         53
6.65         53
9.46         53
6.74         53
6.92         53
5.26         53
5.71         53
6.69         52
6.53         51
8.83         51
7.71         50
9.06         50
5.84         49
8.61         49
6.28         49
6.36         49
8.03         48
7.61         48
6.82         48
9.13         48
8.07         47
8.94         47
8.65         46
5.47         46
8.98         46
8.77         46
7.27         45
8.38         45
8.71         45
6.70         45
5.48         45
7.35         44
7.99         44
8.11         43
5.52         43
6.26         43
7.11         43
9.49         43
9.26         43
7.32         42
7.87         42
9.25         42
6.91         42
5.45         42
9.40         41
9.31         41
8.29         41
7.60         41
9.36         41
6.63         41
8.64         41
9.85         41
5.80         40
9.02         40
5.90         40
6.23         40
8.42         40
8.37         40
9.34         40
7.43         40
5.55         40
5.97         39
6.76         39
6.56         39
5.98         39
9.59         39
7.26         39
6.84         38
6.95         37
5.39         36
9.78         36
7.07         36
5.25         36
8.32         36
5.91         35
5.72         35
7.17         35
6.52         33
7.06         33
5.69         33
6.33         33
9.17         32
9.90         31
9.70         31
7.34         31
8.75         31
7.12         30
5.24         29
6.50         29
8.43         28
7.45         28
9.16         27
6.05         27
9.29         26
9.01         25
8.49         25
5.09         25
6.85         25
6.35         25
8.19         24
5.30         24
5.14         24
6.59         24
9.12         22
5.35         22
9.82         22
7.00         21
5.44         21
9.47         21
6.19         21
8.85         21
8.10         20
8.55         20
8.40         19
5.03         19
5.06         17
8.16         17
7.79         17
8.01         16
5.17         16
7.18         14
8.72         12
6.46         12
7.56         12
8.15         11
7.36         10
8.41         10
7.63          8
6.71          6
7.78          6
5.78          5
7.73          5
7.59          4
6.24          3
6.32          3
7.65          3
8.51          2
6.06          2
7.33          2
6.09          2
6.64          2
6.44          2
8.02          2
7.69          2
7.81          1
7.42          1
7.23          1
8.66          1
8.06          1
7.31          1
8.12          1
6.77          1
7.40          1
6.94          1
8.26          1
7.84          1
6.98          1
8.31          1
7.29          1
6.68          1
Name: count, dtype: int64

--- CT: Study Satisfaction ---
Study Satisfaction
0.0    133418
4.0      7541
3.0      6939
2.0      6894
1.0      6513
5.0      5224
Name: count, dtype: int64

--- CT: Job Satisfaction ---
Job Satisfaction
0.0    33111
2.0    29285
5.0    26966
1.0    26388
3.0    26036
4.0    24743
Name: count, dtype: int64

--- CT: Sleep Duration ---
Sleep Duration
Less than or equal 6 hours    84225
6-8 hours                     43714
More than 8 hours             38590
Name: count, dtype: int64

--- CT: Dietary Habits ---
Dietary Habits
Moderate     59220
Unhealthy    54618
Healthy      52691
Name: count, dtype: int64

--- CT: Degree ---
Degree
Bachelor       80108
Master         65006
High School    17846
Doctorate       3569
Name: count, dtype: int64

--- CT: Have you ever had suicidal thoughts ? ---
Have you ever had suicidal thoughts ?
0    84149
1    82380
Name: count, dtype: int64

--- CT: Work/Study Hours ---
Work/Study Hours
10.0    16728
11.0    15097
9.0     14897
0.0     14099
6.0     13627
12.0    13417
2.0     12422
1.0     11547
7.0     11529
3.0     11094
5.0     10953
4.0     10640
8.0     10479
Name: count, dtype: int64

--- CT: Financial Stress ---
Financial Stress
2.0    37245
5.0    33338
4.0    32781
1.0    32071
3.0    31094
Name: count, dtype: int64

--- CT: Family History of Mental Illness ---
Family History of Mental Illness
0    83887
1    82642
Name: count, dtype: int64

--- CT: Depression ---
Depression
0    136159
1     30370
Name: count, dtype: int64

In [95]:
clean_dataset_v2['Working Professional or Student'].value_counts()

Working Professional or Student
Working Professional    133418
Student                  33111
Name: count, dtype: int64

In [96]:
clean_dataset_v2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166529 entries, 0 to 166528
Data columns (total 18 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 166529 non-null  object
 1   Age                                    166529 non-null  int64
 2   City                                   166529 non-null  object
 3   Working Professional or Student        166529 non-null  object
 4   Profession                             166529 non-null  object
 5   Academic Pressure                      166529 non-null  float64
 6   Work Pressure                          166529 non-null  float64
 7   CGPA                                   166529 non-null  float64
 8   Study Satisfaction                     166529 non-null  float64
 9   Job Satisfaction                       166529 non-null  float64
 10  Sleep Duration                         166529 non-null  category
 11  Dietary Habits                         166529 non-null  object
 12  Degree                                 166529 non-null  object
 13  Have you ever had suicidal thoughts ?  166529 non-null  int64
 14  Work/Study Hours                       166529 non-null  float64
 15  Financial Stress                       166529 non-null  float64
 16  Family History of Mental Illness       166529 non-null  int64
 17  Depression                             166529 non-null  int64
dtypes: category(1), float64(7), int64(4), object(6)
memory usage: 21.8+ MB

In [99]:
clean_dataset_v2.isnull().sum()

Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=f6527928-bbf4-4c9a-8760-1f30ce0e5ba3' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>